<%- include('./layouts/header.ejs')%>



<style>
    .view-image {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    /* Add any other styles as needed */
}



</style>




<!-- iziToast CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
<!-- iziToast JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>




<!-- cropper.js css -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<!-- CropperJS JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">





<section class="content-main" id="editProductPage">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content-header">
                    <h2 class="content-title">Edit Product</h2>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="#" id="addProductForm" method="post" enctype="multipart/form-data">
                            <!-- General Info -->
                            <div class="mb-4">
                                <h6>1. General Info</h6>
                                <label class="form-label">Product Name</label>
                                <input type="text" id="productName" class="form-control" value="<%= product.name %>" name="productName">
                                <div class="error-message text-danger" id="name-error"></div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea name="productDesc" id="productDesc" class="form-control" rows="4"><%= product.description %></textarea>
                                <div class="error-message text-danger" id="description-error"></div>
                            </div>
                            <input type="hidden" name="id" value="<%= product._id %>">
                            <div class="mb-4">
                                <label class="form-label">Brand Name</label>
                                <input value="<%= product.brand %>" name="productBrand" id="productBrand" type="text" class="form-control">
                                <div class="error-message text-danger" id="brand-error"></div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Quantity</label>
                                <input value="<%= product.quantity %>" name="productQty" id="productQty" type="number" class="form-control">
                                <div class="error-message text-danger" id="quantity-error"></div>
                            </div>

                            <input type="hidden" name="id" value="<%= product._id %>">

                            <!-- Pricing -->
                            <hr class="mb-4 mt-0">
                            <div class="mb-4">
                                <h6>2. Pricing</h6>
                                <label class="form-label">Cost</label>
                                <input type="text" value="<%= product.price %>" id="productPrice" name="productPrice" class="form-control">
                                <div class="error-message text-danger" id="price-error"></div>
                            </div>
                            <!-- Date of Creation -->
                            <hr class="mb-4 mt-0">
                            <div class="mb-4">
                                <h6>3. Date of Creation</h6>
                                <label class="form-label">Date</label>
                                <input type="date" value="<%= moment(product.date).format('YYYY-MM-DD') %>" id="date" name="date" class="form-control">
                                <div class="error-message text-danger" id="date-error"></div>
                            </div>
                            <!-- Category -->
                            <hr class="mb-4 mt-0">
                            <div class="mb-4">
                                <h6>4. Category</h6>
                                <% category.forEach((categ,index) => { %>
                                <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                    <input class="form-check-input" id="productCat<%= index %>" name="productCat" type="radio" value="<%= categ.id %>" <%= product.category.id === categ.id ? 'checked' : '' %>>
                                    <span class="form-check-label"> <%= categ.name %> </span>
                                </label>
                                <% }) %>
                                <div class="category-error text-danger" id="category-error"></div>
                            </div>


 <!-- Display Images -->
 <div class="mb-4">
    <label class="form-label">Images</label>
    <% product.images.forEach((image, index) => { %>
    <div class="d-flex align-items-center justify-content-between mb-2">
        <div class="d-flex align-items-center">
            <img src="/adminAssets/imgs/category/<%= image %>"  class="existing-image" alt="Product Image" style="width: 30px; height: 30px; margin-right: 10px;">
            <span><%= image %></span>
        </div>
        <a href="#" onclick="confirmDelete('<%= index %>', '<%= product._id %>', event)" class="btn btn-danger btn-sm">Delete</a>
    </div>
    <% }) %>
</div>


                            <!-- Media -->
                            <hr class="mb-4 mt-0">
                            <div class="mb-4">
                                <h6>5. Media</h6>

                                <label class="form-label">Images</label>
                                <input id="image-input" name="productImages" class="form-control" type="file" multiple>

                              
                                <div class="error-message text-danger" id="image-error"></div>
                            </div>
                            <!-- Image Preview -->
                            <div id="cropped-images" class="row"></div>

                            <div class="col-lg-9 image-preview d-none">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Crop Images</h4>
                                    </div>
                                    <div>
                                        <div id="image-preview" class="row"></div>
                                    </div>
                                    <div class="card-body col-lg-6">
                                        <button type="button" id="crop-button" class="btn btn-md rounded font-sm hover-up" disabled>Crop Images</button>
                                    </div>
                                </div>
                            </div>
                           
                            <!-- Submit Button -->
                            <div>
                                <button type="button" id="submitForm" class="btn btn-md rounded font-sm hover-up" disabled>Publish</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>


document.addEventListener("DOMContentLoaded", function() {
    // Your script here

    //---------- cropper.js ------------------------------
    let addProducts = document.getElementById('editProductPage')
    if(addProducts){
      let inputImage = document.getElementById("image-input");
      let previewImageContainer = document.getElementById("image-preview");
      let cropButton = document.getElementById("crop-button");
      let croppers = [];
      let croppedDataArray = [];
      let croppedImagesContainer = document.getElementById("cropped-images");
      let submitForm = document.getElementById("submitForm");
      let productName = document.getElementById("productName");
      let productDesc = document.getElementById("productDesc");
      let productPrice = document.getElementById("productPrice");
      let productQty = document.getElementById("productQty");
      let productBrand = document.getElementById('productBrand');
      let date = document.getElementById('date');

      croppedImagesContainer.innerHTML= ''






//-------------- starting of cropper.js------------------------------

      inputImage.addEventListener("change", (event) => {

console.log('event object is : ',event)
         const files = event.target.files;
        const allowedTypes = ['image/jpeg', 'image/png', 'image/jpg']; // Add more image MIME types if needed

        if (files.length > 4) {
    inputImage.value = '';
    iziToast.error({
        title: 'Error',
        message: 'Select up to 4 images',
        position: 'topCenter', // Adjust as needed
        timeout: 2000, // Adjust as needed
    });
    return;
}

// Check each file's MIME type
for (let file of files) {
      if (!allowedTypes.includes(file.type)) {
          inputImage.value = '';
          iziToast.error({
              title: 'Error',
              message: 'Only image files are allowed',
              position: 'topCenter',
              timeout: 2000,
          });
          return;
      }
  }



    
        if (files.length > 0) {
            document.querySelector('.image-preview').classList.remove('d-none'); 
          let divCount = previewImageContainer.querySelectorAll('.view-image').length;
         
          if(files.length + croppers.length >5){
            previewImageContainer.innerHTML = "";
            croppers.length = 0;
          }
          
          
    
          for (let file of files) {
            let reader = new FileReader();
    
            reader.onload = (readEvent) => {
              let image = new Image();
              image.src = readEvent.target.result;
    
              let preview = document.createElement("div");
              preview.classList.add("view-image", "col-md-6");
              preview.appendChild(image);
    
              previewImageContainer.appendChild(preview);
    
              cropButton.disabled = false;
    
            let cropper = new Cropper(image, {
            aspectRatio: 1,
            viewMode: 0 
            });
    
    
              croppers.push(cropper);
            };
    
            reader.readAsDataURL(file);
          }
        }
      });
    
      cropButton.addEventListener("click", async () => {
        croppedImagesContainer.innerHTML=''
        submitForm.disabled = false;
        croppedDataArray = [];
        for (let cropper of croppers) {
          let croppedCanvas = cropper.getCroppedCanvas();
    
          let blobPromise = new Promise((resolve) => {
            croppedCanvas.toBlob((blob) => {
              resolve(blob);
            });
          });
          let blob = await blobPromise;
    
          croppedDataArray.push(blob);
          displayCroppedImage(croppedImagesContainer, blob);
        }
        
    
        inputImage.value = "";
      });
    
      function displayCroppedImage(targetDiv, blob) {
        
        let img = document.createElement("img");
        img.src = URL.createObjectURL(blob);
    
        let previewCroppedImage = document.createElement("div");
        previewCroppedImage.classList.add("col-lg-6");
        previewCroppedImage.appendChild(img);
    
        targetDiv.appendChild(previewCroppedImage);
      }
    



      submitForm.addEventListener("click", async (ev) => {
        console.log('reached here')
        let form = document.getElementById("addProductForm");
        ev.preventDefault();

        let formData = new FormData();

  // Inside the submitForm event listener

// Retrieve existing image elements
const existingImagesElements = document.querySelectorAll('.existing-image');

// Extract existing image URLs
const existingImages = Array.from(existingImagesElements).map(imageElement => imageElement.src);

// Append existingImages to the FormData object
formData.append("existingImages", JSON.stringify(existingImages));


        formData.append("id", document.querySelector('input[name="id"]').value);


        formData.append("productName", document.getElementById("productName").value);

        formData.append("productDesc", document.getElementById("productDesc").value);

        formData.append("productPrice", document.getElementById("productPrice").value);

        formData.append("productQty", document.getElementById("productQty").value);

        formData.append("productCat", document.querySelector('input[name="productCat"]:checked').value);

        formData.append("productBrand", document.getElementById("productBrand").value);
    
        formData.append("date", document.getElementById("date").value);

    
        

        
    
        for (let i = 0; i < croppedDataArray.length; i++) {
        formData.append(`images`, croppedDataArray[i], `croppedImage_${i}.png`);
    }
    
       
        fetch("/admin/productEdited", {
            method: "POST",
            body: formData,
        }).then(response => response.json())
        .then((data) => {

console.log('data received from the backend :',data)

            if (data) {
                Swal.fire({
        title: 'Success!',
        text: 'Product edited successfully',
         icon: 'success',
        confirmButtonText: 'OK',
        }).then((result)=>{
            if(result.isConfirmed){
                window.location.href = '/admin/product'
            }
        })
            }
        })
        .catch((error) => console.log(error));
    });
    
      
    }
});




// delete image===============================
function confirmDelete(index, productId, event) {
    event.preventDefault(); // Prevent the default action of the anchor tag
    Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to delete this image!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = `/admin/deleteimage?index=${index}&id=${productId}`;
        }
    });
}


    </script>




<%- include('./layouts/footer.ejs')%>