
<%- include('./layouts/header.ejs')%>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List</h2>
          
        </div>
        <div>
            <input type="text" placeholder="Search order ID" class="form-control bg-white" />
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control" />
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price </th>
                            <th scope="col">Coupon</th>
                            <th scope="col">Date</th>
                            <th scope="col">Details</th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>  
                            <th scope="col">Price</th>                      
                            <th scope="col">Image</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>


                    <% if(allOrders.length !==0) {%>
                        <% allOrders.forEach(order =>{ %>
                            <% order.Products.forEach((product, index) => { %>
                        <tr>
                            <% if (index === 0) { %>

                            <td rowspan="<%= order.Products.length %>">
                                <p><%= order.orderId %></p>
                            </td>



                            <td rowspan="<%= order.Products.length %>">
                                <% if (order.userId) { %>
                                    <b><%= order.userId.name %></b>
                                <% } else { %>
        
                                    <b>User not available</b>
                                <% } %>
                               
                            </td>


                            <td rowspan="<%= order.Products.length %>">
                                ₹<%= order.grandTotal %>
                            </td>
                            <td rowspan="<%= order.Products.length %>">
                                <% if (order.couponDiscount) { %>
                                    <span class="badge rounded-pill alert-success">₹<%= order.couponDiscount %></span>
                                <% } else { %>
                                    Nil
                                <% } %>
                            </td>
                            


                            <td rowspan="<%= order.Products.length %>">
                                <p class="text-center"> <%= moment(order.date).format('DD-MM-YYYY') %></p>
                            </td>



                            <td rowspan="<%= order.Products.length %>">
                                <a class="badge rounded-pill alert-primary" href="/admin/singleOrder?id=<%= order.id %>">View info</a>
                            </td>

                
                            <% } %>

                           


                            
                            <td>
                                <p><%= product.name %></p>
                            </td>
                            <td>
                                <p class="text-center"><%= product.quantity %></p>
                            </td>
                            <td>
                                <p>₹<%= product.price %></p>
                            </td>
                            <td>
                                <img src="/adminAssets/imgs/category/<%= product.image[0] %>" alt="Product Image" width="50" height="50">
                            </td>

                            <td>

                                <% if(product.orderStatus === 'delivered') { %>
                                <span id="orderStatus_<%= order._id %>" class="badge rounded-pill alert-success"><%= product.orderStatus %></span>

                                <% }else if(product.orderStatus === 'returned'){ %>
                                    <span id="orderStatus_<%= order._id %>" class="badge rounded-pill alert-danger"><%= product.orderStatus %></span>

                                    <% }else if(product.orderStatus ==='cancelled') { %>
                                        <span id="orderStatus_<%= order._id %>" class="badge rounded-pill alert-danger"><%= product.orderStatus %></span>

                                <% }else { %>
                                        <span id="orderStatus_<%= order._id %>" class="badge rounded-pill alert-warning"><%= product.orderStatus %></span>
                                    <% } %>
                            </td>

                            <td class="text-end">
                               
                                <% if (product.orderStatus !== 'cancelled' && product.orderStatus !== 'returned' && product.orderStatus !== 'delivered' ) { %>
                                <div class="dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> Status</a>

                                    <% if(product.orderStatus == 'request return'){ %>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item text-danger" href="#" onclick="updateStatus('returned', '<%= order._id %>','<%= product._id %>')">Returned</a>
                                       
                                        <a hidden  class="dropdown-item text-danger" href="#">Delete</a>
                                    </div>
                                    <%}else if (product.orderStatus == 'request cancellation'){%>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item text-danger" href="#" onclick="updateStatus('cancelled', '<%= order._id %>','<%= product._id %>')">Cancelled</a>
                                        </div>
                                        <%}else{%>
                                            <div class="dropdown-menu">

                                                <a class="dropdown-item text-danger" href="#" onclick="updateStatus('shipped', '<%= order._id %>','<%= product._id %>')">Shipped</a>

                                                <a class="dropdown-item text-danger" href="#" onclick="updateStatus('placed', '<%= order._id %>','<%= product._id %>')">Placed</a>
                                                
                                                <a class="dropdown-item text-success" href="#" onclick="updateStatus('delivered', '<%= order._id %>','<%=product._id%>')">Delivered</a>

                                            </div>
                                </div>
                                    <% } %>
                                <% } %>
                                <!-- dropdown //end -->
                            </td>
                        </tr>
                        
                        <% }) %>

                     <% }); %>
                        <% }else {%>
                            <td colspan="7">No orders found</td>
                            <% } %>
                    </tbody>
                </table>
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!-- content-main end// -->

<script>


    function updateStatus(status,orderId, productId) {
  // const productId = document.getElementById("productId").value
       
        console.log(orderId);
        const url = `/admin/updateStatus/${orderId}`; 
  
  
        fetch(url, {
            method: 'PUT',  
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ status,productId }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
          
            console.log('Status updated successfully at admin side about the ordeer:', data);
  
            window.location.reload()
  
        })
        .catch(error => {
            // Handle errors
            console.error('There was a problem updating the status:', error.message);
        });
    }
  </script>
<%- include('./layouts/footer.ejs')%>