<%- include('./layouts/header') %>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Product details</h2>
    </div>
    <div>
      <a href="/admin/addProduct" class="btn btn-primary btn-sm rounded"
        >Create new</a
      >
    </div>
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <div class="row gx-3"></div>
    </header>
    <!-- card-header end// -->

    <div style="margin-left: 5%" class="col-lg-4 col-md-6 me-auto">
      <input
        type="text"
        placeholder="Search productsss"
        class="form-control"
        id="searchInput"
        oninput="searchUsers()"
      />
    </div>

    <div class="card-body">
      <div
        class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-4"
      >
        <% if (product.length > 0) { %> <% for (let i = 0; i < product.length;
        i++) { %>
        <div class="col tablet">
          <div class="card card-product-grid">
            <a href="#" class="img-wrap">
              <img
                style="height: 150px"
                src="/adminAssets/imgs/category/<%= product[i].images[0] %>"
                alt="Product"
              />
            </a>
            <div class="info-wrap">
              <a href="#" class="title text-truncate text-success"
                ><%= product[i].brand %></a
              >

              <a href="#" class="title text-truncate"><%= product[i].name %></a>
              <div class="price mb-2">₹<%= product[i].price %></div>
              <!-- price.// -->


              <% if (product[i].quantity === 0) { %>
                <h5 style="color: red;"> Quantity : 0 </h5>
                <% } else if(product[i].quantity <=5) { %>
                    <span style="color: red;"> Quantity : <%=product[i].quantity%> </span>
                    <% } else if(product[i].quantity <=15) { %>
                        <span style="color: #3b5e33;"> Quantity : <%=product[i].quantity%></span>
                        <% }else{ %>
                          <span style="color: #3b5e33;"> Quantity : <%=product[i].quantity%></span>
                          <% } %>


<br>
             
              <a
                href=""
                class="btn btn-sm font-sm rounded btn-brand"
              >
                <i class="material-icons md-edit"></i> Edit
              </a>

              <a
                href="#"
                onclick="confirmDelete('<%= product[i]._id %>')"
                class="btn btn-sm font-sm btn-light rounded"
              >
                <i class="material-icons md-delete_forever"></i> Delete
              </a>

              <% if (product[i].status==='active') { %>

              <a
                class="badge rounded-pill alert-danger"
                href="/admin/unlistProduct?id=<%= product[i]._id %>"
                >Unlist</a
              >

              <% } else { %>

              <a
                class="badge rounded-pill alert-success"
                href="/admin/listProduct?id=<%= product[i]._id %>"
                >list</a
              >
              <% } %>
            </div>
          </div>
          <!-- card-product  end// -->
        </div>
        <!-- col.// -->

        <% } %> <% } else { %>
        <tr>
          <td colspan="2">Product not found</td>
        </tr>
        <% } %>
      </div>
      <!-- row.// -->
      <div>
        <% if (page > 1) { %>
        <a href="/admin/product?page=<%= page - 1 %>">Previous</a>
        <% } %>
        <span>Page <%= page %> of <%= totalPages %></span>
        <% if (page < totalPages) { %>
        <a href="/admin/product?page=<%= page + 1 %>">Next</a>
        <% } %>
      </div>
    </div>
    <!-- card-body end// -->
  </div>
  <!-- card end// -->
</section>
<!-- content-main end// -->

<%- include('./layouts/footer') %>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function searchUsers() {
    // Get the value of the search input
    const searchQuery = document
      .getElementById("searchInput")
      .value.toLowerCase();

    // Get all card elements with class 'tablet'
    const cards = document.querySelectorAll(".tablet");

    // Loop through each card and filter based on the search query
    cards.forEach((card) => {
      // Extract the category name from the card
      const categoryName = card
        .querySelector(".title")
        .textContent.toLowerCase();

      // Check if the category name contains the search query
      if (categoryName.includes(searchQuery)) {
        // If the category name contains the search query, display the card
        card.style.display = "block"; // Assuming it's initially set to 'none'
      } else {
        // If not, hide the card
        card.style.display = "none";
      }
    });
  }

  function confirmDelete(productId) {
    Swal.fire({
      title: "Are you sure?",
      text: "You are about to delete this product. This action cannot be undone.",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes, delete it",
      cancelButtonText: "Cancel",
    }).then((result) => {
      if (result.isConfirmed) {
        // If confirmed, redirect to the delete product route with the product ID
        window.location.href = `/admin/deleteProduct?id=${productId}`;
      }
    });
  }
</script>






