<%- include('./layouts/header') %>

<style>
  /* Add this CSS to your stylesheet */
  .glow {
    border: 1px solid #39f; /* You can adjust the border color and size as needed */
  }
</style>

<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            <% if(aProductFoundFromDb) {%>
               <%=aProductFoundFromDb.name %>
                <% } %>
        </li>
      </ol>

      <nav class="product-pager ml-auto" aria-label="Product">
        <% if (relatedProd.length > 0) { %>
            <% let currentIndex = relatedProd.findIndex(product => product._id.toString() === aProductFoundFromDb._id.toString()); %>
            <% let prevIndex = currentIndex > 0 ? currentIndex - 1 : relatedProd.length - 1; %>
            <% let nextIndex = currentIndex < relatedProd.length - 1 ? currentIndex + 1 : 0; %>
    
            <a class="product-pager-link product-pager-prev" href="/productPage?id=<%= relatedProd[prevIndex]._id %>" aria-label="Previous">
                <i class="icon-angle-left"></i>
                <span>Prev</span>
            </a>
    
            <a class="product-pager-link product-pager-next" href="/productPage?id=<%= relatedProd[nextIndex]._id %>" aria-label="Next">
                <span>Next</span>
                <i class="icon-angle-right"></i>
            </a>
        <% } %>
    </nav>
    
      <!-- End .pager-nav -->
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="container">
      <div class="product-details-top mb-2">
        <div class="row">
          <div class="col-md-6">
            <!-- HTML -->
            <div class="product-gallery product-gallery-vertical">
              <div class="row">
                <figure class="product-main-image">
                  <img
                    id="product-zoom"
                    src="/adminAssets/imgs/category/<%= aProductFoundFromDb.images[0] %>"
                    alt="product image"
                  />
                </figure>
                <!-- End .product-main-image -->

                <div id="product-zoom-gallery" class="product-image-gallery">
                  <% for (let i = 0; i < aProductFoundFromDb.images.length; i++)
                  { %>
                  <a
                    id="product-image-<%= i %>"
                    class="product-gallery-item"
                    href="#"
                    data-image="/adminAssets/imgs/category/<%= aProductFoundFromDb.images[i] %>"
                    onclick="highlightBox(this)"
                  >
                    <img
                      src="/adminAssets/imgs/category/<%= aProductFoundFromDb.images[i] %>"
                      alt="product side"
                    />
                  </a>
                  <% } %>
                </div>
                <!-- End .product-image-gallery -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .product-gallery -->

            <!-- JavaScript -->
          </div>
          <!-- End .col-md-6 -->

          <div class="col-md-6">
            <div class="product-details product-details-centered">
              <h1 class="product-title"><%= aProductFoundFromDb.name %></h1>
              <!-- End .product-title -->

              <div class="ratings-container">
                <div class="ratings">
                  <div class="ratings-val" style="width: 80%"></div>
                  <!-- End .ratings-val -->
                </div>
                <!-- End .ratings -->
                <a
                  class="ratings-text"
                  href="#product-review-link"
                  id="review-link"
                  >( 2 Reviews )</a
                >
              </div>
              <!-- End .rating-container -->

              <div class="product-price">
                Rs.<%= aProductFoundFromDb.price %>
              </div>
              <!-- End .product-price -->

              <div class="product-content">
                <p>
                  Sed egestas, ante et vulputate volutpat, eros pede semper est,
                  vitae luctus metus libero eu augue. Morbi purus libero.
                </p>
              </div>
              <!-- End .product-content -->

              <div class="product-details-action">
                <div class="details-action-col">
                  <div class="product-details-quantity">
                    <input
                      type="number"
                      id="qty"
                      class="form-control"
                      value="1"
                      min="1"
                      max="10"
                      step="1"
                      data-decimals="0"
                      required
                    />
                  </div>
                  <!-- End .product-details-quantity -->

                  <a href="#" class="btn-product btn-cart"
                    ><span>add to cart</span></a
                  >
                </div>
                <!-- End .details-action-col -->

                <div class="details-action-wrapper">
                  <a href="#" title="Wishlist"><span>Add to Wishlist</span></a>
                </div>
                <!-- End .details-action-wrapper -->
              </div>
              <!-- End .product-details-action -->

              <div class="product-details-footer">
                <div class="product-cat">
                  <span>Category:</span>

                  <% if(aProductFoundFromDb) {%>

                  <a href="#"><%= aProductFoundFromDb.category.name %></a>

                  <% } %>
                </div>
                <!-- End .product-cat -->

                <div class="social-icons social-icons-sm">
                  <span class="social-label">Share:</span>
                  <a
                    href="#"
                    class="social-icon"
                    title="Facebook"
                    target="_blank"
                    ><i class="icon-facebook-f"></i
                  ></a>
                  <a
                    href="#"
                    class="social-icon"
                    title="Twitter"
                    target="_blank"
                    ><i class="icon-twitter"></i
                  ></a>
                  <a
                    href="#"
                    class="social-icon"
                    title="Instagram"
                    target="_blank"
                    ><i class="icon-instagram"></i
                  ></a>
                  <a
                    href="#"
                    class="social-icon"
                    title="Pinterest"
                    target="_blank"
                    ><i class="icon-pinterest"></i
                  ></a>
                </div>
              </div>
              <!-- End .product-details-footer -->
            </div>
            <!-- End .product-details -->
          </div>
          <!-- End .col-md-6 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .product-details-top -->

      <div class="product-details-tab">
        <ul class="nav nav-pills justify-content-center" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="product-desc-link"
              data-toggle="tab"
              href="#product-desc-tab"
              role="tab"
              aria-controls="product-desc-tab"
              aria-selected="true"
              >Description</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="product-info-link"
              data-toggle="tab"
              href="#product-info-tab"
              role="tab"
              aria-controls="product-info-tab"
              aria-selected="false"
              >Additional information</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="product-shipping-link"
              data-toggle="tab"
              href="#product-shipping-tab"
              role="tab"
              aria-controls="product-shipping-tab"
              aria-selected="false"
              >Shipping & Returns</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="product-review-link"
              data-toggle="tab"
              href="#product-review-tab"
              role="tab"
              aria-controls="product-review-tab"
              aria-selected="false"
              >Reviews (2)</a
            >
          </li>
        </ul>
        <div class="tab-content">
          <div
            class="tab-pane fade show active"
            id="product-desc-tab"
            role="tabpanel"
            aria-labelledby="product-desc-link"
          >
            <div class="product-desc-content">
              <h3>Product Information</h3>
             <%= aProductFoundFromDb.description %>
            </div>
            <!-- End .product-desc-content -->
          </div>
          <!-- .End .tab-pane -->
          <div
            class="tab-pane fade"
            id="product-info-tab"
            role="tabpanel"
            aria-labelledby="product-info-link"
          >
            <div class="product-desc-content">
              <h3>Information</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
                odio. Quisque volutpat mattis eros. Nullam malesuada erat ut
                turpis. Suspendisse urna viverra non, semper suscipit, posuere
                a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam
                porttitor mauris sit amet orci.
              </p>

              <h3>Fabric & care</h3>
              <ul>
                <li>Faux suede fabric</li>
                <li>Gold tone metal hoop handles.</li>
                <li>RI branding</li>
                <li>Snake print trim interior</li>
                <li>Adjustable cross body strap</li>
                <li>
                  Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm
                </li>
              </ul>

              <h3>Size</h3>
              <p>one size</p>
            </div>
            <!-- End .product-desc-content -->
          </div>
          <!-- .End .tab-pane -->
          <div
            class="tab-pane fade"
            id="product-shipping-tab"
            role="tabpanel"
            aria-labelledby="product-shipping-link"
          >
            <div class="product-desc-content">
              <h3>Delivery & returns</h3>
              <p>
                We deliver to over 100 countries around the world. For full
                details of the delivery options we offer, please view our
                <a href="#">Delivery information</a><br />
                We hope you’ll love every purchase, but if you ever need to
                return an item you can do so within a month of receipt. For full
                details of how to make a return, please view our
                <a href="#">Returns information</a>
              </p>
            </div>
            <!-- End .product-desc-content -->
          </div>
          <!-- .End .tab-pane -->
          <div
            class="tab-pane fade"
            id="product-review-tab"
            role="tabpanel"
            aria-labelledby="product-review-link"
          >
            <div class="reviews">
              <h3>Reviews (2)</h3>
              <div class="review">
                <div class="row no-gutters">
                  <div class="col-auto">
                    <h4><a href="#">Samanta J.</a></h4>
                    <div class="ratings-container">
                      <div class="ratings">
                        <div class="ratings-val" style="width: 80%"></div>
                        <!-- End .ratings-val -->
                      </div>
                      <!-- End .ratings -->
                    </div>
                    <!-- End .rating-container -->
                    <span class="review-date">6 days ago</span>
                  </div>
                  <!-- End .col -->
                  <div class="col">
                    <h4>Good, perfect size</h4>

                    <div class="review-content">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Ducimus cum dolores assumenda asperiores facilis
                        porro reprehenderit animi culpa atque blanditiis commodi
                        perspiciatis doloremque, possimus, explicabo, autem
                        fugit beatae quae voluptas!
                      </p>
                    </div>
                    <!-- End .review-content -->

                    <div class="review-action">
                      <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                      <a href="#"
                        ><i class="icon-thumbs-down"></i>Unhelpful (0)</a
                      >
                    </div>
                    <!-- End .review-action -->
                  </div>
                  <!-- End .col-auto -->
                </div>
                <!-- End .row -->
              </div>
              <!-- End .review -->

              <div class="review">
                <div class="row no-gutters">
                  <div class="col-auto">
                    <h4><a href="#">John Doe</a></h4>
                    <div class="ratings-container">
                      <div class="ratings">
                        <div class="ratings-val" style="width: 100%"></div>
                        <!-- End .ratings-val -->
                      </div>
                      <!-- End .ratings -->
                    </div>
                    <!-- End .rating-container -->
                    <span class="review-date">5 days ago</span>
                  </div>
                  <!-- End .col -->
                  <div class="col">
                    <h4>Very good</h4>

                    <div class="review-content">
                      <p>
                        Sed, molestias, tempore? Ex dolor esse iure hic veniam
                        laborum blanditiis laudantium iste amet. Cum non
                        voluptate eos enim, ab cumque nam, modi, quas iure illum
                        repellendus, blanditiis perspiciatis beatae!
                      </p>
                    </div>
                    <!-- End .review-content -->

                    <div class="review-action">
                      <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                      <a href="#"
                        ><i class="icon-thumbs-down"></i>Unhelpful (0)</a
                      >
                    </div>
                    <!-- End .review-action -->
                  </div>
                  <!-- End .col-auto -->
                </div>
                <!-- End .row -->
              </div>
              <!-- End .review -->
            </div>
            <!-- End .reviews -->
          </div>
          <!-- .End .tab-pane -->
        </div>
        <!-- End .tab-content -->
      </div>
      <!-- End .product-details-tab -->

      <h2 class="title text-center mb-4">You May Also Like</h2>
      <!-- End .title text-center -->
      <div
        class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
        data-toggle="owl"
        data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":1
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true,
                            "dots": false
                        }
                    }
                }'
      >
     
         <% for(let i=0;i< relatedProd.length;i++) { %>
               
            <% console.log('related Peo=-=-=-=-=-=-=-=-=-=-=-=-=-= : ',relatedProd[i].images[0]) %>
        <div class="product product-7 text-center">
          <figure class="product-media">
            <a href="product.html">
              <img
                src="/adminAssets/imgs/category/<%= relatedProd[i].images[0] %>"
                alt="Product image"
                class="product-image"
              />
            </a>

            <div class="product-action-vertical">
              <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                ><span>add to wishlist</span></a
              >
              <a
                href="/userAssets/home/popup/quickView.html"
                class="btn-product-icon btn-quickview"
                title="Quick view"
                ><span>Quick view</span></a
              >
              <a href="#" class="btn-product-icon btn-compare" title="Compare"
                ><span>Compare</span></a
              >
            </div>
            <!-- End .product-action-vertical -->

            <div class="product-action">
              <a href="#" class="btn-product btn-cart"
                ><span>add to cart</span></a
              >
            </div>
            <!-- End .product-action -->
          </figure>
          <!-- End .product-media -->

          <div class="product-body">
            <div class="product-cat">
              <a href="#"><%= relatedProd[i].category.name%></a>
            </div>
            <!-- End .product-cat -->
            <h3 class="product-title">
              <a href="product.html"><%= relatedProd[i].name %></a>
            </h3>
            <!-- End .product-title -->
            <div class="product-price">Rs. <%=relatedProd[i].price %></div>
            <!-- End .product-price -->
            <div class="ratings-container">
              <div class="ratings">
                <div class="ratings-val" style="width: 0%"></div>
                <!-- End .ratings-val -->
              </div>
              <!-- End .ratings -->
              <span class="ratings-text">( 0 Reviews )</span>
            </div>
            <!-- End .rating-container -->
          </div>
          <!-- End .product-body -->
        </div>
        <!-- End .product -->
        <% } %>
       
      </div>
      <!-- End .owl-carousel -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

<script>
  $(document).ready(function () {
    // Function to initialize Elevate Zoom
    function initializeZoom() {
      $("#product-zoom").elevateZoom();
    }

    // Initialize Zoom when the main image is fully loaded
    $("#product-zoom").on("load", function () {
      initializeZoom();
    });

    // Bind click event handler to each gallery item
    $(".product-gallery-item").on("click", function (e) {
      e.preventDefault();
      var imageSrc = $(this).data("image");
      $("#product-zoom").attr("src", imageSrc);
    });
  });

  //for each image box selecting it glows blue color
  function highlightBox(element) {
    // Remove glow class from all boxes
    var boxes = document.querySelectorAll(".product-gallery-item");
    boxes.forEach(function (box) {
      box.classList.remove("glow");
    });

    // Add glow class to the clicked box
    element.classList.add("glow");
  }
</script>

<%- include('./layouts/footer') %>
