<%- include('./layouts/header') %>

<style>
  /* Add this CSS to your stylesheet */
  .glow {
    border: 1px solid #39f; /* You can adjust the border color and size as needed */
  }
</style>

<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            <% if(aProductFoundFromDb) {%>
               <%=aProductFoundFromDb.name %>
                <% } %>
        </li>
      </ol>

      <nav class="product-pager ml-auto" aria-label="Product">
        <% if (relatedProds.length > 0) { %>
            <% let currentIndex = relatedProds.findIndex(product => product._id.toString() === aProductFoundFromDb._id.toString()); %>
            <% let prevIndex = currentIndex > 0 ? currentIndex - 1 : relatedProds.length - 1; %>
            <% let nextIndex = currentIndex < relatedProds.length - 1 ? currentIndex + 1 : 0; %>
    
            <a class="product-pager-link product-pager-prev" href="/productPage?id=<%= relatedProds[prevIndex]._id %>" aria-label="Previous">
                <i class="icon-angle-left"></i>
                <span>Prev</span>
            </a>
    
            <a class="product-pager-link product-pager-next" href="/productPage?id=<%= relatedProds[nextIndex]._id %>" aria-label="Next">
                <span>Next</span>
                <i class="icon-angle-right"></i>
            </a>
        <% } %>
    </nav>
    
      <!-- End .pager-nav -->
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="container">
      <div class="product-details-top mb-2">
        <div class="row">
          <div class="col-md-6">
            <!-- HTML -->
            <div class="product-gallery product-gallery-vertical">
              <div class="row">
                <figure class="product-main-image">
                  <img
                    id="product-zoom"
                    src="/adminAssets/imgs/category/<%= aProductFoundFromDb.images[0] %>"
                    alt="product image"
                  />
                  <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                    <i class="icon-arrows"></i>
                </a>
                </figure>
                <!-- End .product-main-image -->

                <div id="product-zoom-gallery" class="product-image-gallery">
                  <% for (let i = 0; i < aProductFoundFromDb.images.length; i++)
                  { %>
                  <a
                    id="product-image-<%= i %>"
                    class="product-gallery-item"
                    href="#"
                    data-image="/adminAssets/imgs/category/<%= aProductFoundFromDb.images[i] %>"
                    onclick="highlightBox(this)"
                  >
                    <img
                      src="/adminAssets/imgs/category/<%= aProductFoundFromDb.images[i] %>"
                      alt="product side"
                    />
                  </a>
                  <% } %>
                </div>
                <!-- End .product-image-gallery -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .product-gallery -->

            <!-- JavaScript -->
          </div>
          <!-- End .col-md-6 -->

          <div class="col-md-6">
            <div class="product-details product-details-centered">
              <h1 class="product-title"><%= aProductFoundFromDb.name %></h1>
              <!-- End .product-title -->

              <div class="ratings-container">
                <div class="ratings">
                  <div class="ratings-val" style="width: 80%"></div>
                  <!-- End .ratings-val -->
                </div>
                <!-- End .ratings -->
                <a
                  class="ratings-text"
                  href="#product-review-link"
                  id="review-link"
                  >( 2 Reviews )</a
                >
              </div>
              <!-- End .rating-container -->










              <div class="product-price">
                <% if (aProductFoundFromDb.offer || aProductFoundFromDb.category.offer) { %>
                    <div class="row">


                      <br>
                      <span class="original-price" style="margin-left: 10px;text-decoration: line-through;">₹<%= aProductFoundFromDb.price %></span>
                      <% 
                         const productOffer = aProductFoundFromDb?.offer;
                         const categoryOffer = aProductFoundFromDb.category ? aProductFoundFromDb.category.offer : null;
                         const discount = productOffer && categoryOffer ? Math.max(productOffer.discount, categoryOffer.discount) : (productOffer ? productOffer.discount : (categoryOffer ? categoryOffer.discount : 0));
                      %>
                      <% if (discount > 0) { %>
                          <span class="offer-price" style="color: red; font-size: 20px;">
                              (<%= discount %> % Off)
                          </span>
                      <% } %>
                      


                    </div>
                    <span class="w-100" style="color: rgb(0, 170, 0);font-size: 30px;">₹<%= aProductFoundFromDb.offerprice %>
                            </span>

                    <% } else { %>
                      <span class="original-price  " style="margin-left: 10px;">₹
                        <%= aProductFoundFromDb.price %>
                    </span>
                            <% } %>


              </div>






              <!-- End .product-price -->

              <div class="product-content">
                <p>
                  <%= aProductFoundFromDb.description %>
                </p>
              </div>
              <!-- End .product-content -->

              <div class="product-details-action">
                <div class="details-action-col">
                  <div class="product-details-quantity">

                    <input type="number" id="qty" class="form-control" value="1" min="1" max="<%= aProductFoundFromDb.quantity %>" step="1" data-decimals="0" required readonly onkeydown="return false;">
                  </div>
                  <!-- End .product-details-quantity -->

                  <a href="#" class="btn-product btn-cart" onclick="addToCart('<%= aProductFoundFromDb.id %>','<%= user %>');return false;"
                    ><span>add to cart</span></a
                  >
                </div>
                <!-- End .details-action-col -->

             
              


                <div class="details-action-wrapper">
                  <a onclick="wishList(event,'<%= aProductFoundFromDb._id %>','<%=  user%>')" href="#" title="Wishlist"><span>Add to Wishlist</span></a>
                </div>
                <!-- End .details-action-wrapper -->
              </div>
              <!-- End .product-details-action -->

              <div class="product-details-footer">
                <div class="product-cat">
                  <span>Category:</span>

                  <% if(aProductFoundFromDb) {%>

                  <a href="#"><%= aProductFoundFromDb.category.name %></a>

                  <% } %>
                </div>
                <!-- End .product-cat -->

                <div class="social-icons social-icons-sm">
                  <span class="social-label">Share:</span>
                  <a
                    href="#"
                    class="social-icon"
                    title="Facebook"
                    target="_blank"
                    ><i class="icon-facebook-f"></i
                  ></a>
                  <a
                    href="#"
                    class="social-icon"
                    title="Twitter"
                    target="_blank"
                    ><i class="icon-twitter"></i
                  ></a>
                  <a
                    href="#"
                    class="social-icon"
                    title="Instagram"
                    target="_blank"
                    ><i class="icon-instagram"></i
                  ></a>
                  <a
                    href="#"
                    class="social-icon"
                    title="Pinterest"
                    target="_blank"
                    ><i class="icon-pinterest"></i
                  ></a>
                </div>
              </div>
              <!-- End .product-details-footer -->
            </div>
            <!-- End .product-details -->
          </div>
          <!-- End .col-md-6 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .product-details-top -->

      <div class="product-details-tab">
        <ul class="nav nav-pills justify-content-center" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="product-desc-link"
              data-toggle="tab"
              href="#product-desc-tab"
              role="tab"
              aria-controls="product-desc-tab"
              aria-selected="true"
              >Description</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="product-info-link"
              data-toggle="tab"
              href="#product-info-tab"
              role="tab"
              aria-controls="product-info-tab"
              aria-selected="false"
              >Additional information</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="product-shipping-link"
              data-toggle="tab"
              href="#product-shipping-tab"
              role="tab"
              aria-controls="product-shipping-tab"
              aria-selected="false"
              >Shipping & Returns</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="product-review-link"
              data-toggle="tab"
              href="#product-review-tab"
              role="tab"
              aria-controls="product-review-tab"
              aria-selected="false"
              >Reviews (2)</a
            >
          </li>
        </ul>
        <div class="tab-content">
          <div
            class="tab-pane fade show active"
            id="product-desc-tab"
            role="tabpanel"
            aria-labelledby="product-desc-link"
          >
            <div class="product-desc-content">
              <h3>Product Information</h3>
             <%= aProductFoundFromDb.description %>
            </div>
            <!-- End .product-desc-content -->
          </div>
          <!-- .End .tab-pane -->
          <div
            class="tab-pane fade"
            id="product-info-tab"
            role="tabpanel"
            aria-labelledby="product-info-link"
          >
            <div class="product-desc-content">
              <h3>Information</h3>
              <p>
                Ayurveda, a natural system of medicine, originated in India more than 3,000 years ago. The term Ayurveda is derived from the Sanskrit words ayur (life) and veda (science or knowledge). Thus, Ayurveda translates to knowledge of life. Based on the idea that disease is due to an imbalance or stress in a person's consciousness, Ayurveda encourages certain lifestyle interventions and natural therapies to regain a balance between the body, mind, spirit, and the environment.
              </p>

              <h3> Benefits of Ayurvedic herbs</h3>
              <ul>
                <li>Balance your dosha’s and provide complete relief from an existing illness. </li>
                <li>They are treating as a whole individual, so this type of treatment can give you a side advantage to cure other health problems with the main disease.  </li>
                <li>It is a natural line of treatment with no or fewer benefits.</li>
                <li>It improves vitality and provides strength.r</li>
                <li>They boost your immunity and increase your natural power of healing</li>
               
              </ul>

             
            </div>
            <!-- End .product-desc-content -->
          </div>
          <!-- .End .tab-pane -->
          <div
            class="tab-pane fade"
            id="product-shipping-tab"
            role="tabpanel"
            aria-labelledby="product-shipping-link"
          >
            <div class="product-desc-content">
             
              <h2>Delivery & Returns</h2>

<h3>Global Delivery</h3>
<p>We proudly deliver to over 100 countries worldwide, ensuring that your favorite products reach you no matter where you are. For comprehensive details on our delivery options, including estimated delivery times and shipping costs, please visit our <a href="#">Delivery Information</a>.</p>

<h3>Hassle-Free Returns</h3>
<p>We are committed to ensuring your complete satisfaction with every purchase. If for any reason you need to return an item, you can do so within 30 days of receiving your order. Our return process is straightforward and designed to be as convenient as possible. For step-by-step instructions on how to return an item, please view our <a href="#">Returns Information</a>.</p>

<h3>Why Shop with Us?</h3>
<ul>
    <li><strong>Fast and Reliable Shipping:</strong> With multiple delivery options, you can choose the one that best suits your needs.</li>
    <li><strong>Easy Returns:</strong> Our no-hassle returns policy ensures that you can shop with confidence.</li>
    <li><strong>Customer Support:</strong> Our dedicated customer support team is here to assist you with any questions or concerns you may have.</li>
</ul>

<p>Thank you for choosing us for your shopping needs. We are dedicated to providing you with an exceptional shopping experience from start to finish.</p>

<p>For more information, please visit our <a href="#">Delivery Information</a> and <a href="#">Returns Information</a> pages.</p>
            </div>
            <!-- End .product-desc-content -->
          </div>
          <!-- .End .tab-pane -->
          <div
            class="tab-pane fade"
            id="product-review-tab"
            role="tabpanel"
            aria-labelledby="product-review-link"
          >
            <div class="reviews">
              <h3>Reviews (2)</h3>
              <div class="review">
                <div class="row no-gutters">
                  <div class="col-auto">
                    <h4><a href="#">Viswanathan</a></h4>
                    <div class="ratings-container">
                      <div class="ratings">
                        <div class="ratings-val" style="width: 80%"></div>
                        <!-- End .ratings-val -->
                      </div>
                      <!-- End .ratings -->
                    </div>
                    <!-- End .rating-container -->
                    <span class="review-date">6 days ago</span>
                  </div>
                  <!-- End .col -->
                  <div class="col">
                    <h4>Good, impovement from insomnia</h4>

                    <div class="review-content">
                      <p>
                        "I've struggled with insomnia for years and have tried countless remedies with little success. But ever since I started using your products, my life has completely changed! Not only do I fall asleep faster, but I also stay asleep throughout the night. I wake up feeling refreshed and ready to tackle the day. This product has been a game-changer for my sleep health. Highly recommended for anyone struggling with sleeplessness!"
                      </p>
                    </div>
                    <!-- End .review-content -->

                    <div class="review-action">
                      <a href="#"><i class="icon-thumbs-up"></i>Helpful (21)</a>
                      <a href="#"
                        ><i class="icon-thumbs-down"></i>Unhelpful (0)</a
                      >
                    </div>
                    <!-- End .review-action -->
                  </div>
                  <!-- End .col-auto -->
                </div>
                <!-- End .row -->
              </div>
              <!-- End .review -->

              <div class="review">
                <div class="row no-gutters">
                  <div class="col-auto">
                    <h4><a href="#">Narendran</a></h4>
                    <div class="ratings-container">
                      <div class="ratings">
                        <div class="ratings-val" style="width: 100%"></div>
                        <!-- End .ratings-val -->
                      </div>
                      <!-- End .ratings -->
                    </div>
                    <!-- End .rating-container -->
                    <span class="review-date">5 days ago</span>
                  </div>
                  <!-- End .col -->
                  <div class="col">
                    <h4>Very good</h4>

                    <div class="review-content">
                      <p>
                        "I've been dealing with indigestion for as long as I can remember, and nothing seemed to help until I discovered your products. It's been an absolute lifesaver! Since I started using it, my digestion has significantly improved. I no longer experience the discomfort and bloating that used to plague me after every meal. This product is gentle yet incredibly effective. I can finally enjoy my meals without the fear of indigestion. Highly recommended for anyone suffering from digestive issues!
                      </p>
                    </div>
                    <!-- End .review-content -->

                    <div class="review-action">
                      <a href="#"><i class="icon-thumbs-up"></i>Helpful (7)</a>
                      <a href="#"
                        ><i class="icon-thumbs-down"></i>Unhelpful (0)</a
                      >
                    </div>
                    <!-- End .review-action -->
                  </div>
                  <!-- End .col-auto -->
                </div>
                <!-- End .row -->
              </div>
              <!-- End .review -->
            </div>
            <!-- End .reviews -->
          </div>
          <!-- .End .tab-pane -->
        </div>
        <!-- End .tab-content -->
      </div>
      <!-- End .product-details-tab -->

      <h2 class="title text-center mb-4">You May Also Like</h2>
      <!-- End .title text-center -->
      <div
        class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
        data-toggle="owl"
        data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":1
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true,
                            "dots": false
                        }
                    }
                }'
      >
   
         <% relatedProds.forEach((prod,index)=> { %>
               
           
        <div class="product product-7 text-center">
          <figure class="product-media">
            <a href="/productPage?id=<%= prod._id %>">
              <img
                src="/adminAssets/imgs/category/<%= prod.images[0] %>"
                alt="Product image"
                class="product-image"
              />
            </a>

            <div class="product-action-vertical">
              <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                ><span>add to wishlist</span></a
              >
              <a
                href="/userAssets/home/popup/quickView.html"
                class="btn-product-icon btn-quickview"
                title="Quick view"
                ><span>Quick view</span></a
              >
              <a href="#" class="btn-product-icon btn-compare" title="Compare"
                ><span>Compare</span></a
              >
            </div>
            <!-- End .product-action-vertical -->

            <div class="product-action">
              <a href="#" class="btn-product btn-cart" 
                ><span>add to cart</span></a
              >
            </div>
            <!-- End .product-action -->
          </figure>
          <!-- End .product-media -->

          <div class="product-body">
            <div class="product-cat">
              <a href="#"><%= prod.category.name%></a>
            </div>
            <!-- End .product-cat -->
            <h3 class="product-title">
              <a href="product.html"><%= prod.name %></a>
            </h3>
            <!-- End .product-title -->






            <div class="product-price">
              <% if (prod?.offer || prod?.category?.offer) { %>
                  <div class="row">


                    <br>
                    <span class="original-price" style="margin-left: 10px;text-decoration: line-through;">₹<%= prod.price %></span>
                    <% 
                       const productOffer = prod?.offer;
                       const categoryOffer = prod.category ? prod.category.offer : null;
                       const discount = productOffer && categoryOffer ? Math.max(productOffer.discount, categoryOffer.discount) : (productOffer ? productOffer.discount : (categoryOffer ? categoryOffer.discount : 0));
                    %>
                    <% if (discount > 0) { %>
                        <span class="offer-price" style="color: red; font-size: 16px;">
                            (<%= discount %> % Off)
                        </span>
                    <% } %>
                    


                  </div>
                  <span class="w-100" style="color: rgb(0, 170, 0);font-size: 25px;">₹<%= prod.offerprice %>
                          </span>

                  <% } else { %>
                    <span class="original-price  " style="margin-left: 10px;">₹
                      <%= prod.price %>
                  </span>
                          <% } %>


            </div>
            <!-- End .product-price -->






 <!-- stock part -->
 <% if (prod.quantity === 0) { %>
    <h5 style="color: red;">OUT OF STOCK!</h5>
    <% } else if(prod.quantity ===1) { %>
        <span style="color: #4eb44e;">Only <%=prod.quantity%> left!</span>
        <% } else if(prod.quantity <=15) { %>
            <span style="color: #40a240;"> Hurry Only <%=prod.quantity%> items left!</span>
            <% } %>

          <!-- stock part ends -->




            <div class="ratings-container">
              <div class="ratings">
                <div class="ratings-val" style="width: 50%"></div>
                <!-- End .ratings-val -->
              </div>
              <!-- End .ratings -->
              <span class="ratings-text">( 4 Reviews )</span>
            </div>
            <!-- End .rating-container -->
          </div>
          <!-- End .product-body -->
        </div>
        <!-- End .product -->
        <% }) %>
       
      </div>
      <!-- End .owl-carousel -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->



<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script> -->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // $(document).ready(function () {
  //   // Function to initialize Elevate Zoom
  //   function initializeZoom() {
  //     $("#product-zoom").elevateZoom();
  //   }

  //   // Initialize Zoom when the main image is fully loaded
  //   $("#product-zoom").on("load", function () {
  //     initializeZoom();
  //   });

  //   // Bind click event handler to each gallery item
  //   $(".product-gallery-item").on("click", function (e) {
  //     e.preventDefault();
  //     var imageSrc = $(this).data("image");
  //     $("#product-zoom").attr("src", imageSrc);
  //   });
  // });

  //for each image box selecting it glows blue color
  function highlightBox(element) {
    // Remove glow class from all boxes
    var boxes = document.querySelectorAll(".product-gallery-item");
    boxes.forEach(function (box) {
      box.classList.remove("glow");
    });

    // Add glow class to the clicked box
    element.classList.add("glow");
  }




 
  //------------------ wishlist part ------------------------    

async function wishList(event,productId,userId){
    event.preventDefault();
  console.log(`onclick wishlist , userId present is ${userId} and it's type is ${typeof userId}`)
  // console.log('this is the product id at wishlist add : ',productId);

  //case if the usr is not logged in
  if(!userId ||userId === String(null) ){
    Swal.fire({
        title: 'Login to Purchase',
        text: 'To make a purchase, please log in.',
        icon: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Login'
    }).then((result) => {
        if (result.isConfirmed) {
            
            window.location.href = '/signin';
        }
    });
    return;
  }

else{

  try {
    const response = await fetch(`/wishlist?productId=${productId}&userId=${userId}`, {
      method: 'POST',
      body:JSON.stringify({id:productId}),
      headers: {
        'Content-Type': 'application/json'
      }
    });

    if (!response.ok) {
      let data = await response.json();
      console.log('network not ok ,response data :',data)
      throw new Error(data.message || "Error adding product to wishlist");
    }

    const data = await response.json();

    if (data.success) {
      Swal.fire({
        title: data.message || "Added to wishlist",
        icon: "success",
        timer: 1500,
        showConfirmButton: false
      });
    } else {
      Swal.fire({
        title: data.message || "Already in the wishlist",
        icon: "warning",
        timer: 2500,
        showConfirmButton: false
      });
    }
  }catch(error){
    console.error('Error adding product to wishlist:', error.message);
    Swal.fire({
      title: "Error",
      text: error.message || "Error adding product to wishlist",
      icon: "error",
      timer: 2500,
      showConfirmButton: false
    });
  }
}
}
    

  

     // = = = = = = = add product to cart = = = = = = = = = = = = = = =


     function addToCart(productId, userId) {
    console.log('product id at single product page is:', productId)
    console.log('userid is :', userId)

    // Check if user is logged in
    if (!userId || userId === 'null') {
        Swal.fire({
            title: 'Login to Purchase',
            text: 'To make a purchase, please log in.',
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Login'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/signin';
            }
        });
    } else {

         let quantity = parseInt(document.getElementById('qty').value);


        fetch(`/addToCart/${productId}/${quantity}/${userId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                quantity: quantity,
            }),
        })
            .then((response) => {
                if (response.status === 401) {
                    throw new Error('User not authenticated. Please login first.');
                }
                if (response.status === 400) {
                    return response.json(); // Product already in cart or user blocked by admin
                }
                return response.json(); // Product added to cart successfully
            })
            .then((data) => {
                if (data && data.error === "Product already in the cart.") {
                    // Product already in cart, show warning message
                    Swal.fire({
                        icon: 'warning',
                        title: 'Product already in cart!',
                        text: 'Proceed to the cart page ?',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Go to Cart'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/cart';
                        }
                    });
                } else if (data && data.error === "You're blocked by the admin") {
                    // User is blocked by admin, show error message
                    Swal.fire({
                        icon: 'error',
                        title: 'Blocked by admin',
                        text: 'You have been blocked by the admin. Please contact support for further assistance.',
                    });
                } else {
                    // Product added to cart successfully
                    console.log('Response from the backend while product added to cart:', data);
                    Swal.fire({
                        icon: 'success',
                        title: 'Product added to cart!',
                        showConfirmButton: false,
                        timer: 500,
                    });
                }
            })
            .catch((error) => {
                console.error('Error at product addition to the cart :', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error adding to cart',
                    text: error.message || 'An error occurred while adding the product to the cart.',
                });
            });
    }
}
//------------------------ increment the quantity --------
async function updateQuantity(cartId, productId) {

// console.log('this is the cartId',cartId);
// console.log('this is the product id ',productId);
  const updatedQuantity = document.getElementById(productId).value;

  try {
      const response = await fetch('/updatequantity', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({ cartId, productId, quantity: updatedQuantity }),
      });

      if (!response.ok) {
          throw new Error('Failed to update quantity');
      }

      const data = await response.json();
      
      
     
  } catch (error) {
      console.error('Error updating quantity:', error);
  }
}




</script>

<%- include('./layouts/footer') %>
