<%- include('./layouts/header') %>




<!-- Izitoast CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">

<!-- Izitoast JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js"></script>






 <!-- Sign in / Register Modal -->
 <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                           
                            <li class="nav-item">
                                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Add your address here</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                <form action="/addAddressAtCheckout" method="post" onsubmit="return addressValidation()">


                                    <div class="form-group">
                                        <label for="singin-email"> Full Name *</label>
                                        <input type="text" class="form-control" id="name" name="name" required>

										<p id="nameErr" class="error-message" style="color: red;"></p>

                                    </div><!-- End .form-group -->



									<div class="row">
										<div class="col-sm-6">
										<div class="form-group">
											<label>Mobile Number *</label>
											<input type="tel" class="form-control" id="mobile" name="mobile" required>

											<p id="mobileErr" class="error-message" style="color: red;"></p>

										</div>
										</div><!-- End .form-group -->

										<div class="col-sm-6">
										<div class="form-group">
											<label>Pincode *</label>
											<input type="text" class="form-control" id="pincode" name="pincode" required>

											<p id="pincodeErr" class="error-message" style="color: red;"></p>

										</div><!-- End .form-group -->
									</div>
									</div>



									 <!-- Address -->
    <div class="form-group m-5">
        <label for="addressDetails">Address</label>
        <textarea class="form-control" id="addressDetails" name="addressDetails" rows="3" required></textarea>

		<p id="addressErr" class="error-message" style="color: red;"></p>

        <!-- <div class="text-danger" id="errorDetails"></div> -->
    </div>




	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label>City *</label>
				<input type="text" class="form-control" id="city" name="city" required>

				<p id="cityErr" class="error-message" style="color: red;"></p>

			</div><!-- End .form-group -->
		</div><!-- End .col-sm-6 -->

		<div class="col-sm-6">
			<div class="form-group">
				<label>State *</label>


				
					<select class="form-control" id="state" name="state" required>
						<option value="" selected disabled>Select your state</option>
						<% states.forEach(state => { %>
							<option value="<%= state %>"><%= state %></option>
						<% }); %>
					</select>
				
				
			</div><!-- End .form-group -->
		</div><!-- End .col-sm-6 -->
	</div><!-- End .row -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>Save address</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                                                       
                                    </div><!-- End .form-footer -->
                                </form>
                             
                            </div><!-- .End .tab-pane -->

             
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->





        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/userAssets/home/assets/images/checkoutPage.jpg')">
        		<div class="container">
        			<h1 style="color: white
                    ;" class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->



              
              
            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            				
            			</div><!-- End .checkout-discount -->
            			<form action="#">
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->

									<select id="existingAddresses" name="existingAddress" class="form-control">
										<option value="" selected>Select an address</option>
										<% if (userNameforProfile.addressField.length > 0) { %>
											<% userNameforProfile.addressField.forEach(address => { %>
												<option value="<%= JSON.stringify(address) %>">
													<%= `Name: ${address.name}, Mobile: ${address.mobile}, Address: ${address.addressDetails}, City: ${address.city}, State: ${address.state}` %>
												</option>
											<% }) %>
										<% } %>
									</select>
									
									
									
									

									


									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAddressModal">
										Add New Address
									</button>

<hr>
<br><br>


<!-- Add this code below the address field -->
<table class="table table-wishlist table-mobile">
	<thead>
		<tr>
			<th>Product</th>
			<th>Price</th>
			<th>Offer</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>

		<% if(cartData && cartData.products) { %>

		<% cartData.products.forEach(product => { %>
		<tr>
			<td class="product-col">
				<div class="product">
					<figure class="product-media">
						<a href="#">
							<img src="/adminAssets/imgs/category/<%= product.productId.images[0] %>" alt="Product image">
						</a>
					</figure>

					<h3 class="product-title">
						<a href="#"><%= product.name %></a>
					</h3><!-- End .product-title -->
				</div><!-- End .product -->
			</td>
			<td class="price-col">₹<%= product?.productId?.offerprice ? product?.productId?.offerprice : product?.productId?.price %></td>

			

			<td class="stock-col">
				<% if (product.appliedOffer) { %>
					<span class="in-stock"><%= product.appliedOffer %></span><br>
					<span class="in-stock">(<%= product.appliedOfferDiscount %> % off)</span>
				<% } else { %>
					<span class="out-of-stock">Offer unavailable</span>
				<% } %>
			</td>
		

			
			
			
			
		</tr>
		<% }); %>
			<% }; %>


	</tbody>
</table><!-- End .table table-wishlist -->



<div class="checkout-discount">
	<form id="couponForm">
		<select id="couponCode" name="couponCode" style="max-width: 200px;" required
		 <% if (couponNameForDisplay) { %>
			 disabled
			  <% } %>>

			<option disabled selected value="">Available coupons</option>
			<% if (coupon.length > 0) { %>
				<% coupon.forEach(coupon => { %>
					<option><%= coupon.couponCode %></option>
				<% }); %>
			<% } else { %>
				<option>No Coupons are Available.</option>
			<% } %>
		</select>
  
		<div id="couponMessage" style="color: red;"></div>
		<br>
  
		<% if (couponNameForDisplay) { %>
			<div>
				<h5 class="in-stock">
					<%= couponNameForDisplay !== undefined ? couponNameForDisplay : '' %> 
				</h5>
				<button class="btn btn-danger" onclick="removeCoupon();return false">Click to remove</button>
			</div>
			<% } else { %>
				<button class="btn btn-primary mt-4" type="button" onclick="applyCoupon(); return false;">Apply Coupon</button>
			<% } %>
	</form>
  </div>



	            					
		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>

												<% cartData.products.forEach(cartData => { %>
											
		                						<tr>
		                							<td><a href="#"><%= cartData.name %></a></td>
		                							<td>₹ <%= cartData?.productId?.offerprice ? cartData?.productId?.offerprice : cartData?.productId?.price %>.00</td>
		                						</tr>
										<%	}) %>
		                					
										<% if (totalWithoutDiscount - totalWithDiscount> 0) { %>
											<tr>
												<td class="in-stock">Discount:</td>
												<td class="in-stock">
													
													<%= totalWithoutDiscount - totalWithDiscount %>
												</td>
											</tr>
											<% } %>

		                						<tr class="summary-subtotal">
		                							<td>Total:</td>
		                							<td>₹ <%= locals.totalWithDiscount %>.00</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td><%= locals.shippingCharges %></td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Grand Total:</td>
		                							<td><%= locals.grandTotal %>.00</td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->



										
		                				<div class="accordion-summary" id="accordion-payment">
											<div class="payment-method-dropdown">
												<select name="paymentMethod" id="payment" class="payment-method-select">
													<option value="Cash on delivery">Cash on delivery</option>
													<option value="Razorpay">Razorpay</option>
													<option value="wallet">Wallet</option>
												</select>
											</div>
										</div>
										

		                				<button onclick="sendSelection();return false" type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>

		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

       



	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	
  
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  

<script>
    function addressValidation() {
    var name = document.getElementById('name').value.trim();
    var mobile = document.getElementById('mobile').value.trim();
    var pincode = document.getElementById('pincode').value.trim();
    var address = document.getElementById('addressDetails').value.trim();
    var city = document.getElementById('city').value.trim();


    // Reset error messages
    document.getElementById('nameErr').innerText = '';
   
    document.getElementById('mobileErr').innerText = '';
    document.getElementById('pincodeErr').innerText = '';
    document.getElementById('addressErr').innerText = '';
    document.getElementById('cityErr').innerText = '';

    var isValid = true;

     // Validate name
	 if (name === '') {
        document.getElementById('nameErr').innerText = 'Name is required';
        isValid = false;
    } else if (name.length < 2 || !isNaN(name.charAt(0)) ) {
        document.getElementById('nameErr').innerText = 'Please enter a valid name';
        isValid = false;
    } 
	// else if (!isNaN(name.charAt(0))) { // Check if the first character is a number
    // //     document.getElementById('nameErr').innerText = '';
    // //     isValid = false;
    // // }

  
    // Validate mobile
    if (mobile === '') {
        document.getElementById('mobileErr').innerText = 'Mobile is required';
        isValid = false;
    } else if (!validateMobile(mobile)) {
        document.getElementById('mobileErr').innerText = 'Invalid mobile number';
        isValid = false;
    }

   
     // Validate pincode
	 if (pincode === '') {
        document.getElementById('pincodeErr').innerText = 'Pincode is required';
        isValid = false;
    } else if (!/^\d{6}$/.test(pincode)) { // Check for 6 digits
        document.getElementById('pincodeErr').innerText = 'Invalid pincode';
        isValid = false;
    }


	//Validate address
  if (address === '') {
    document.getElementById('addressErr').innerText = 'Address is required';
    isValid = false;
}

// Validate city
if (city === '') {
  document.getElementById('cityErr').innerText = 'City is required';
  isValid = false;
}

    return isValid;
}

function validateMobile(mobile) {
    // Simple mobile number validation regex (10 digits)
    var mobileRegex = /^\d{10}$/;
    return mobileRegex.test(mobile);
}


//For getting the address from the input field of the address
let selectedAddress;
const dropdown = document.getElementById('existingAddresses');

dropdown.addEventListener('change', function() {
     selectedAddress = this.value;
    //   console.log('this is the selected address :',selectedAddress);

})



function sendSelection(){


const paymentMethod = document.getElementById("payment").value;



const couponCode = document.getElementById('couponCode').value;



//address validation when address is not selected
if (selectedAddress === '' || selectedAddress === undefined) {
			   // Show Izitoast toast with warning message
iziToast.warning({
title: 'Please select an address',
// message: 'You must select an address before proceeding.',
position: 'topRight',
timeout: 2500 // Adjust the duration as needed
});
return;
}


			const selectedValue = JSON.parse(selectedAddress);



				fetch('/placeorder', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({

					paymentMethod: paymentMethod,
					selectedValue: selectedValue,
					couponCode: couponCode
				   

				}),
			})
				.then(response => response.json())
				.then(data => {
					console.log('razorpay server promise send this to our server and inturn send to frontend:', data);


					if (data.success) {
						Swal.fire({
							title: 'Order Placed Successfully!',
							icon: 'success',
							showConfirmButton: false,
							timer: 2000

						});

						setTimeout(() => {

							window.location.href = '/ordersuccess';
						}, 2000)
					} else if (data.message) {
						// Display SweetAlert error notification for product quantity check
						Swal.fire({
							title: 'Order Processing Failed',
							text: data.message,
							icon: 'error',
							confirmButtonText: 'OK'
						});
					}else if (data.response) {

console.log('response.data which is immediately resolved at backend',data.response)

						console.log('data.response.order.amount ',data.response.order.amount)
						console.log('data.response.order.id',data.response.order.id)
						console.log('data.respone.orderId', data.response.orderId)
						console.log('data.response.order.orderId',data.response.order.orderId)

						



						var options = {
							"key": 'rzp_test_Mjpyug9KzUZ3Wb',
							"amount": data.response.order.amount,
							"currency": "INR",
							"name": "VedCart", //your business name
							"description": "Test Transaction",
							"image": "https://exahttps://media.istockphoto.com/id/855840144/photo/image-of-lotus-flower-on-the-water.jpg?s=612x612&w=0&k=20&c=Gh7KaGTxKRhuvunBm-kqPps3f-VOWgfO1kWhWdf6l4Q=mple.com/your_logo",
							"order_id":data.response.order.id,
							"handler": function (response) {


								

								verifyPayment(response,data.response)
							},
							"prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
								"name": "Gaurav Kumar", //your customer's name
								"email": "gaurav.kumar@example.com",
								"contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
							},
							"notes": {
								"address": "Razorpay Corporate Office"
							},
							"theme": {
								"color": "#3399cc"
							}
						};


console.log('reached at var rzpl = new Razorpay(options)')

						var rzp1 = new Razorpay(options);

						rzp1.open();

					}else {
						
						Swal.fire({
							title: 'Order Processing Failed',
							text: 'An error occurred while processing the order.',
							icon: 'error',
							confirmButtonText: 'OK'
						});
					}
				})
				.catch(error => {
					console.error('Error at response back from placeOrder:', error);
				
				});
}

function verifyPayment(payment, order) {

console.log('reached here at verifyPaymentttttt ========payment',payment)

console.log('reached here at verifyPaymentttttt ========order',order)

$.ajax({
	url: '/verifypayment',
	data: {
		payment,
		order
	},
	method: 'post',
	success: (response) => {
		if (response.payment) {

			Swal.fire({
				title: 'Order Placed Successfully!',
				icon: 'success',
				showConfirmButton: false,
				timer: 2000 

			});

			setTimeout(() => {
				window.location.href = '/ordersuccess';
			}, 2000)
		}
		else{
			window.location.href = '/error'
		}
	}
})
}




//==============  coupon applicaton  =====================================
async function applyCoupon() {
    const couponCode = document.getElementById('couponCode').value;
    console.log("this is the coupon code selected at checkout page ejs:", couponCode);

    try {
        const response = await fetch('/applyCoupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ couponCode }),
        });

        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.json();

        if (data.success) {
            window.location.href = `/checkout?coupon=${couponCode}`
            document.getElementById('couponMessage').innerHTML = data.success;

            // Disable the select dropdown and apply coupon button
            document.getElementById('couponCode').disabled = true;
            document.querySelector('button[type="button"]').disabled = true;
        } else if (data.already) {
            document.getElementById('couponMessage').innerHTML = data.already;
        } else if (data.error) {
            document.getElementById('couponMessage').innerHTML = data.error;
        }
    } catch (error) {
        console.error('Error:', error);
    }
}
//=============================== remove coupon =======================

async function removeCoupon() {
    try {
        const response = await fetch('/removeCoupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        });

        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.json();

        if (data.success) {
            window.location.href = '/checkout'; // Redirect to the checkout page
        } else {
            console.error('Failed to remove coupon:', data.error);
        }
    } catch (error) {
        console.error('Error:', error);
    }
}




</script>



  <%- include('./layouts/footer') %>







  
  
  

  








