<%- include('./layouts/header')%>


<style>
 .product-media {
    position: relative;
    overflow: hidden;
}

.product-link {
    display: block;
}

.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-link:hover .hover-img {
    opacity: 1;
}

/* middle banner  */


.banner {
    position: relative;
    overflow: hidden;
    height: 260px; /* Set a fixed height for the banners */
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without stretching */
}

.banner-content {
    position: absolute;
    bottom: 10px; /* Adjust positioning as needed */
    left: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.banner-subtitle,
.banner-title,
.banner-link {
    color: #ffffff;
    text-decoration: none;
}


/* /middle banner end  */








</style>

        <main class="main">
            <div class="intro-slider-container">
                <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{"nav": false, "autoplay": true, "autoplayTimeout": 5000, "autoplayHoverPause": true, "responsive": {"992": {"nav": true}}}'>
                    <% if(banner && banner.length !==0) {%>
                    <% banner.forEach(bannerItem => { %>
                        <div class="intro-slide" style="background-image: url('/uploads/banners/<%= bannerItem.image %>')">
                            <div class="container intro-content">
                                <div class="row">
                                    <div class="col-auto offset-lg-3 intro-col">
                                        <h3 hidden class="text-white intro-subtitle">Trade-In Offer</h3><!-- End .h3 intro-subtitle -->
                                        <h1 class="text-white intro-title"><%= bannerItem.description %>
                                            <span>
                                                <sup hidden class="font-weight-light">from</sup>
                                                <span hidden class="text-white">$999<sup>,99</sup></span>
                                            </span>
                                        </h1><!-- End .intro-title -->
            
                                        <a href="/shop" class="btn btn-outline-primary-2">
                                            <span>Shop Now</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </a>
                                    </div><!-- End .col-auto offset-lg-3 -->
                                </div><!-- End .row -->
                            </div><!-- End .container intro-content -->
                        </div><!-- End .intro-slide -->


                    <% }); %>
                    <% }else{%>


                        <div class="intro-slide" style="background-image: url(userAssets/home/assets/images/demos/demo-13/slider/banner2.webp);">
                            <div class="container intro-content">
                                <div class="row">
                                    <div class="col-auto offset-lg-3 intro-col">
                                        <h3 hidden class="intro-subtitle">Trade-In Offer</h3><!-- End .h3 intro-subtitle -->
                                        <h1 hidden class="intro-title">MacBook Air <br>Latest Model
                                            <span>
                                                <sup hidden class="font-weight-light">from</sup>
                                                <span hidden class="text-primary">$999<sup>,99</sup></span>
                                            </span>
                                        </h1><!-- End .intro-title -->
    
                                        <a hidden href="category.html" class="btn btn-outline-primary-2">
                                            <span>Shop Now</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </a>
                                    </div><!-- End .col-auto offset-lg-3 -->
                                </div><!-- End .row -->
                            </div><!-- End .container intro-content -->
                        </div><!-- End .intro-slide -->
                   <% } %>


                </div><!-- End .owl-carousel owl-simple -->
                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->
            

            <div class="mb-4"></div><!-- End .mb-2 -->

            <div class="container">
                <h2 class="title text-center mb-2">Explore Popular Categories</h2><!-- End .title -->
                
            
                <div class="cat-blocks-container">
                    <div class="row justify-content-center">

                        <% if(category.length>0) {%>
                            <% for(let i=0;i< category.length;i++) {%>
                                    <div class="col-6 col-sm-4 col-lg-2">
                            <a href="#" class="cat-block">
                                <figure>
                                    <span>
                                        <img src="/adminAssets/imgs/category/<%= category[i].image %>" alt="Category image">
                                      
                                    </span>
                                </figure>
                                <h3 style="font-size: 20px;" class="mt-1 cat-block-title"><%= category[i].name %></h3><!-- End .cat-block-title -->
                            </a>
                                  </div><!-- End .col-sm-4 col-lg-2 -->
                            <% } %>

                         <% } else { %>
                                <!-- <tr>
                                  <td colspan="2">Category not found</td>
                                </tr> -->

                                <div class="col-6 col-sm-4 col-lg-2">
                                    <a href="category.html" class="cat-block">
                                        <figure>
                                            <span>
                                                <img src="/userAssets/home/assets/images/cart_animation.gif" alt="Category image">
                                              
                                            </span>
                                        </figure>
                                        <h3 class="cat-block-title">Empty category found</h3><!-- End .cat-block-title -->
                                    </a>
                                          </div>



                                <% } %>
                       
                    </div><!-- End .row -->
                </div><!-- End .cat-blocks-container -->
            </div><!-- End .container -->
            

            <div class="mb-2"></div><!-- End .mb-2 -->

            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="banner banner-overlay">
                            <a href="#">
                                <img src="/userAssets/home/assets/images/demos/demo-13/banners/b1.webp" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle text-white"><a href="#">Weekend Sale</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white"><a href="#">Himalaya <br>& Arjunarishta <br><span>25% off</span></a></h3><!-- End .banner-title -->

                               

                                <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-3 -->


                    <!-- script for timer  -->
                   
                      

                    <!-- script ends here -->


                    <div class="col-sm-6 col-lg-3 order-lg-last">
                        <div class="banner banner-overlay">
                            <a href="#">
                                <img src="/userAssets/home/assets/images/demos/demo-13/banners/b2.webp" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle text-white"><a href="#">Smart Offer</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white"><a href="#">Anniversary <br>Special <br><span>15% off</span></a></h3><!-- End .banner-title -->
                                <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-3 -->

                    <div class="col-lg-6">
                        <div class="banner banner-overlay">
                            <a href="#">
                                <img src="/userAssets/home/assets/images/demos/demo-13/banners/b4.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle text-white d-none d-sm-block"><a href="#">Amazing Value</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white"><a href="#">Pausthik rasayan <br><span>from ₹ 999</span></a></h3><!-- End .banner-title -->
                                
                                <div style="background-color: #517654;margin-bottom: 30%;" class="product-countdown" data-until="+9h" data-format="HMS" data-relative="true" data-labels-short="true"></div><!-- End .product-countdown -->

<span class="product-countdown-hover" data-until="+9h" data-format="HMS" data-relative="true" data-labels-short="true"></span><br><br>
                                

                                <a  href="#" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                                
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-3"></div><!-- End .mb-3 -->
            
<br><br>


            <div class="bg-light pt-3 pb-5">

                <!-- Here I'm doig an edit for bringing bootstrap nav's-->
                <div class="container">
                    <div class="heading heading-flex heading-border mb-3">
                        <div class="heading-left">
                            <h2 class="title">Popular Products</h2><!-- End .title -->
                        </div><!-- End .heading-left -->
                    </div><!-- End .heading -->
                
                    <div class="tab-content tab-content-carousel">
                        <div class="tab-pane p-0 fade show active" id="hot-all-tab" role="tabpanel" aria-labelledby="hot-all-link">
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1280": {
                                            "items":5,
                                            "nav": true
                                        }
                                    }
                                }'>
                                <% if(product.length > 0) { %>
                                <% for(let i=0;i< product.length;i++) { %>
                                    <div class="product">
                                        <figure class="product-media">
                                          
                                            <a href="/productPage?id=<%= product[i]._id %>" class="product-link">
                                                <img class="default-img product-image" src="/adminAssets/imgs/category/<%= product[i].images[0] %>" alt="Product image">
                                                <img class="hover-img product-image" src="/adminAssets/imgs/category/<%= product[i].images[1] %>" alt="Product image">
                                            </a>
                                            
                                                    
                                            
                                    

                                            <div class="product-action-vertical">

                                                <a href="#" onclick="wishList('<%= product[i]._id %>', '<%= user %>');return false" class="btn-product-icon btn-wishlist btn-expandable">
                                                    <span>Add to Wishlist</span>
                                                  </a>
                                                  
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                                <a href="/userAssets/home/popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            </div><!-- End .product-action-vertical -->
                
                                            <div class="product-action">
                                                <a href="#"    onclick="addtoCart('<%=product[i].id%>', '<%=locals.user%>');return false"; class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->
                
                                        <div class="product-body">


                                            <div class="product-cat">
                                                <a href="#"><%= product[i].category.name %></a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/productPage?id=<%= product[i]._id %>"><%= product[i].name %></a></h3><!-- End .product-title -->



                                            <div class="product-price">
                                                <% if (product[i]?.offer || product[i].category?.offer) { %>
                                                    <div class="row">
                                                
                                                
                                                      <br>
                                                      <span class="original-price" style="margin-left: 10px;text-decoration: line-through;">₹<%= product[i].price %></span>
                                                      <% 
                                                         const productOffer = product[i].offer;
                                                         const categoryOffer = product[i].category ? product[i].category?.offer : null;
                                                         const discount = productOffer && categoryOffer ? Math.max(productOffer.discount, categoryOffer.discount) : (productOffer ? productOffer.discount : (categoryOffer ? categoryOffer.discount : 0));
                                                      %>
                                                      <% if (discount > 0) { %>
                                                          <span class="offer-price" style="color: red; font-size: 16px;">
                                                              (<%= discount %> % Off)
                                                          </span>
                                                      <% } %>
                                                      
                                                
                                                
                                                    </div>
                                                    <span class="w-100" style="color: rgb(0, 170, 0);font-size: 20px;">₹<%= product[i].offerprice %>
                                                            </span>
                                                
                                                    <% } else { %>
                                                      <span class="original-price  " style="margin-left: 10px;">₹
                                                        <%= product[i].price %>
                                                    </span>
                                                            <% } %>
                                                
                                                
                                                </div>



                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 2 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                <% } %>
                                <% } else { %>
                                    <tr>
                                      <td colspan="2">Products not found</td>
                                    </tr>
                                    <% } %>
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .container -->
                
          <br><br>
               
             <!-- Here I'm doig an edit ends hereeeeeeeeeeeeeeeeeeeeeeeeeeeee -->
             <div class="bg-light pt-3 pb-5">
                <div class="container">
                    <div class="heading heading-flex heading-border mb-3">
                        <div class="heading-left">
                            <h2 class="title">Popular Brands</h2><!-- End .title -->
                        </div><!-- End .heading-left -->
            
                       
                    </div><!-- End .heading -->
            
                    <div class="tab-content tab-content-carousel">
                        <div class="tab-pane p-0 fade show active" id="hot-all-tab" role="tabpanel" aria-labelledby="hot-all-link">
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1280": {
                                            "items":5,
                                            "nav": true
                                        }
                                    }
                                }'>
                                <div class="product">
                                    <figure class="product-media">
                                    
                                        <a href="#">
                                            <img src="/userAssets/home/assets/images/brands/11.jpg" alt="Brand Name">
                                        </a>
                                    </figure><!-- End .product-media -->
                                </div><!-- End .product -->

                                <div class="product">
                                    <figure class="product-media">
                                    
                                        <a href="#">
                                            <img src="/userAssets/home/assets/images/brands/22.webp" alt="Brand Name">
                                        </a>
                                    </figure><!-- End .product-media -->
                                </div><!-- End .product -->
            
                                <div class="product">
                                    <figure class="product-media">
                                    
                                        <a href="#">
                                            <img src="/userAssets/home/assets/images/brands/33.png" alt="Brand Name">
                                        </a>
                                    </figure><!-- End .product-media -->
                                </div><!-- End .product -->
                               
            
                                <div class="product">
                                    <figure class="product-media">
                                    
                                        <a href="#">
                                            <img src="/userAssets/home/assets/images/brands/44.webp" alt="Brand Name">
                                        </a>
                                    </figure><!-- End .product-media -->
                                </div><!-- End .product -->
            
                               
                                <div class="product">
                                    <figure class="product-media">
                                    
                                        <a href="#">
                                            <img src="/userAssets/home/assets/images/brands/55.jpeg" alt="Brand Name">
                                        </a>
                                    </figure><!-- End .product-media -->
                                </div><!-- End .product -->
                            
            
                                <div class="product">
                                    <figure class="product-media">
                                    
                                        <a href="#">
                                            <img src="/userAssets/home/assets/images/brands/66.jpeg" alt="Brand Name">
                                        </a>
                                    </figure><!-- End .product-media -->
                                </div><!-- End .product -->


                               





                               
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
                       
                    </div><!-- End .tab-content -->
                </div><!-- End .container -->
            </div><!-- End .bg-light pt-5 pb-5 -->



        
            <div class="mb-3"></div><!-- End .mb-3 -->

        <!-- start -->

        <div class="container electronics">
            <div class="heading heading-flex heading-border mb-3">
                <div class="heading-left">
                    <h2 class="title">Explore Products</h2><!-- End .title -->
                </div><!-- End .heading-left -->

               <div class="heading-right">
                    <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="elec-new-link" data-toggle="tab" href="#popular-products-vedCart" role="tab" aria-controls="elec-new-tab" aria-selected="true">Popular</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="elec-featured-link" data-toggle="tab" href="#trendy-products-vedCart" role="tab" aria-controls="elec-featured-tab" aria-selected="false">Trendy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="elec-best-link" data-toggle="tab" href="#bestSellers-vedCart" role="tab" aria-controls="elec-best-tab" aria-selected="false">Best Seller</a>
                        </li>
                    </ul>
               </div><!-- End .heading-right -->
            </div><!-- End .heading -->

            <div class="tab-content tab-content-carousel">
                <div class="tab-pane p-0 fade show active" id="popular-products-vedCart" role="tabpanel" aria-labelledby="elec-new-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1280": {
                                    "items":5,
                                    "nav": true
                                }
                            }
                        }'>

                        <% if(product.length > 0) { %>
                            <% for(let i=0;i< product.length;i++) { %>
                                <div class="product">
                                    <figure class="product-media">
                                      
                                        <a href="/productPage?id=<%= product[i]._id %>" class="product-link">
                                            <img class="default-img product-image" src="/adminAssets/imgs/category/<%= product[i].images[0] %>" alt="Product image">
                                            <img class="hover-img product-image" src="/adminAssets/imgs/category/<%= product[i].images[1] %>" alt="Product image">
                                        </a>
                                        
                                                
                                        
                                

                                        <div class="product-action-vertical">

                                            <a href="#" onclick="wishList('<%= product[i]._id %>', '<%= user %>');return false" class="btn-product-icon btn-wishlist btn-expandable">
                                                <span>Add to Wishlist</span>
                                              </a>
                                              
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                            <a href="/userAssets/home/popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        </div><!-- End .product-action-vertical -->
            
                                        <div class="product-action">
                                            <a href="#"    onclick="addtoCart('<%=product[i].id%>', '<%=locals.user%>');return false"; class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->
            
                                    <div class="product-body">


                                        <div class="product-cat">
                                            <a href="#"><%= product[i].category.name %></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="/productPage?id=<%= product[i]._id %>"><%= product[i].name %></a></h3><!-- End .product-title -->



                                        <div class="product-price">
                                            <% if (product[i]?.offer || product[i].category?.offer) { %>
                                                <div class="row">
                                            
                                            
                                                  <br>
                                                  <span class="original-price" style="margin-left: 10px;text-decoration: line-through;">₹<%= product[i].price %></span>
                                                  <% 
                                                     const productOffer = product[i].offer;
                                                     const categoryOffer = product[i].category ? product[i].category?.offer : null;
                                                     const discount = productOffer && categoryOffer ? Math.max(productOffer.discount, categoryOffer.discount) : (productOffer ? productOffer.discount : (categoryOffer ? categoryOffer.discount : 0));
                                                  %>
                                                  <% if (discount > 0) { %>
                                                      <span class="offer-price" style="color: red; font-size: 16px;">
                                                          (<%= discount %> % Off)
                                                      </span>
                                                  <% } %>
                                                  
                                            
                                            
                                                </div>
                                                <span class="w-100" style="color: rgb(0, 170, 0);font-size: 20px;">₹<%= product[i].offerprice %>
                                                        </span>
                                            
                                                <% } else { %>
                                                  <span class="original-price  " style="margin-left: 10px;">₹
                                                    <%= product[i].price %>
                                                </span>
                                                        <% } %>
                                            
                                            
                                            </div>



                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            <% } %>
                            <% } else { %>
                                <tr>
                                  <td colspan="2">Products not found</td>
                                </tr>
                                <% } %>

                      
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade" id="bestSellers-vedCart" role="tabpanel" aria-labelledby="elec-featured-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1280": {
                                    "items":5,
                                    "nav": true
                                }
                            }
                        }'>
                        <% if(bestSellers.length > 0) { %>
                            <% bestSellers.forEach((product,index)=> { %>
                                <div class="product">
                                    <figure class="product-media">
                                      
                                        <a href="/productPage?id=<%= product.productId %>" class="product-link">
                                            <img class="default-img product-image" src="/adminAssets/imgs/category/<%= product.image[0] %>" alt="Product image">
                                            <img class="hover-img product-image" src="/adminAssets/imgs/category/<%= product.image[1] %>" alt="Product image">
                                        </a>
                                        
                                                
                                        
                                

                                        <div class="product-action-vertical">

                                            <a href="#" onclick="wishList('<%= product.productId %>', '<%= user %>');return false" class="btn-product-icon btn-wishlist btn-expandable">
                                                <span>Add to Wishlist</span>
                                              </a>
                                              
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                            <a href="/userAssets/home/popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        </div><!-- End .product-action-vertical -->
            
                                        <div class="product-action">
                                            <a href="#"    onclick="addtoCart('<%=product.productId%>', '<%=locals.user%>');return false"; class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->
            
                                    <div class="product-body">


                                        <div class="product-cat">
                                            <a href="#"><%= product.category %></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="/productPage?id=<%= product.productId %>"><%= product.name %></a></h3><!-- End .product-title -->



                                        <div class="product-price">
                                            <% if (product.productOffer?.discount || product.categoryOffer?.discount) { %>
                                                <div class="row">
                                            
                                            
                                                  <br>
                                                  <span class="original-price" style="margin-left: 10px;text-decoration: line-through;">₹<%= product.price %></span>
                                                  <% 
                                                     const productOffer = product.productOffer.discount;
                                                     const categoryOffer =  product.categoryOffer.discount;

                                                     const discount = productOffer && categoryOffer ? Math.max(productOffer, categoryOffer) : (productOffer ? productOffer : (categoryOffer ? categoryOffer : 0));
                                                  %>
                                                  <% if (discount > 0) { %>
                                                      <span class="offer-price" style="color: red; font-size: 16px;">
                                                          (<%= discount %> % Off)
                                                      </span>
                                                  <% } %>
                                                  
                                            
                                            
                                                </div>
                                                <span class="w-100" style="color: rgb(0, 170, 0);font-size: 20px;">₹<%= product.finalPrice %>
                                                        </span>
                                            
                                                <% } else { %>
                                                  <span class="original-price  " style="margin-left: 10px;">₹
                                                    <%= product.finalPrice %>
                                                </span>
                                                        <% } %>
                                            
                                            
                                            </div>



                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            <% }) %>
                            <% } else { %>
                                <tr>
                                  <td colspan="2">Products not found</td>
                                </tr>
                                <% } %>

                       
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade" id="trendy-products-vedCart" role="tabpanel" aria-labelledby="elec-best-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1280": {
                                    "items":5,
                                    "nav": true
                                }
                            }
                        }'>
                           <% if(trendyProducts.length > 0) { %>
                            <% trendyProducts.forEach((product,index)=>{ %>
                                <div class="product">
                                    <figure class="product-media">
                                      
                                        <a href="/productPage?id=<%= product.productId %>" class="product-link">
                                            <img class="default-img product-image" src="/adminAssets/imgs/category/<%= product.images[0] %>" alt="Product image">
                                            <img class="hover-img product-image" src="/adminAssets/imgs/category/<%= product.images[1] %>" alt="Product image">
                                        </a>
                                        
                                                
                                        
                                

                                        <div class="product-action-vertical">

                                            <a href="#" onclick="wishList('<%= product.productId %>', '<%= user %>');return false" class="btn-product-icon btn-wishlist btn-expandable">
                                                <span>Add to Wishlist</span>
                                              </a>
                                              
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                            <a href="/userAssets/home/popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        </div><!-- End .product-action-vertical -->
            
                                        <div class="product-action">
                                            <a href="#"    onclick="addtoCart('<%=product.productId %>', '<%=locals.user%>');return false"; class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->
            
                                    <div class="product-body">


                                        <div class="product-cat">
                                            <a href="#"><%= product.category %></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="/productPage?id=<%= product.productId %>"><%= product.name %></a></h3><!-- End .product-title -->



                                        <div class="product-price">
                                            <% if (product?.productOffer?.discount || product?.categoryOffer?.discount) { %>
                                                <div class="row">
                                            
                                            
                                                  <br>
                                                  <span class="original-price" style="margin-left: 10px;text-decoration: line-through;">₹<%= product.finalPrice %></span>
                                                  <% 
                                                     const productOffer = product?.productOffer?.discount;
                                                     const categoryOffer = product.categoryOffer.discount ? product.categoryOffer.discount : null;

                                                     const discount = productOffer && categoryOffer ? Math.max(productOffer, categoryOffer) : (productOffer ? productOffer : (categoryOffer ? categoryOffer : 0));
                                                  %>
                                                  <% if (discount > 0) { %>
                                                      <span class="offer-price" style="color: red; font-size: 16px;">
                                                          (<%= discount %> % Off)
                                                      </span>
                                                  <% } %>
                                                  
                                            
                                            
                                                </div>
                                                <span class="w-100" style="color: rgb(0, 170, 0);font-size: 20px;">₹<%= product.finalPrice %>
                                                        </span>
                                            
                                                <% } else { %>
                                                  <span class="original-price  " style="margin-left: 10px;">₹
                                                    <%= product.finalPrice %>
                                                </span>
                                                        <% } %>
                                            
                                            
                                            </div>



                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            <% }) %>
                            <% } else { %>
                                <tr>
                                  <td colspan="2">Products not found</td>
                                </tr>
                                <% } %>
                      
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->
        </div><!-- End .container -->


        <!-- end -->







            <div class="mb-3"></div><!-- End .mb-3 -->

      

            <div class="mb-1"></div><!-- End .mb-1 -->

           

            <div class="mb-3"></div><!-- End .mb-3 -->

          

            <div class="mb-3"></div><!-- End .mb-3 -->

          

         
          
      



    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




   <script>

   

        document.addEventListener("DOMContentLoaded", function() {
            var currentYear = new Date().getFullYear();
            document.getElementById("current-year").textContent = currentYear;
        });
   


// = = = = = = = add product to cart = = = = = = = = = = = = = = =

function addtoCart(productId, userId) {

    if (!userId || userId === 'null') {
    Swal.fire({
        title: 'Login to Purchase',
        text: 'To make a purchase, please log in.',
        icon: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Login'
    }).then((result) => {
        if (result.isConfirmed) {
            
            window.location.href = '/signin';
        }
    });
  }
else{

    const quantity = 1; 


                     fetch(`/addToCart/${productId}/${quantity}/${userId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                quantity: quantity,
                            }),
                        })
                        .then((response) => {
                if (response.status === 401) {
                    throw new Error('User not authenticated. Please login first.');
                }
                if (response.status === 400) {
                    return response.json(); // Product already in cart or user blocked by admin
                }
                return response.json(); // Product added to cart successfully
            })
                        
            .then((data) => {
                if (data && data.error === "Product already in the cart.") {
                    // Product already in cart, show warning message
                    Swal.fire({
                        icon: 'warning',
                        title: 'Product already in cart!',
                        text: 'Proceed to the cart page ?',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Go to Cart'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/cart';
                        }
                    });
                } else if (data && data.error === "You're blocked by the admin") {
                    // User is blocked by admin, show error message
                    Swal.fire({
                        icon: 'error',
                        title: 'Blocked by admin',
                        text: 'You have been blocked by the admin. Please contact support for further assistance.',
                    });
                } else {
                    // Product added to cart successfully
                    console.log('Response from the backend while product added to cart:', data);
                    Swal.fire({
                        icon: 'success',
                        title: 'Product added to cart!',
                        showConfirmButton: false,
                        timer: 500,
                    });
                }
            })
                           

                        .catch((error) => {
                            console.error('Error at product addition to the cart :', error);
                            Swal.fire({
                                icon: 'error',
                                title: 'Error adding to cart',
                                text: error.message || 'An error occurred while adding the product to the cart.',
                            });
                        });
                 }

     }



     //-------------- add to wishlist  ----------------------
     async function wishList(productId,userId){
   
  console.log(`onclick wishlist , userId present is ${userId} and it's type is ${typeof userId}`)
  // console.log('this is the product id at wishlist add : ',productId);

  //case if the usr is not logged in
  if(!userId ||userId === String(null) ){
    Swal.fire({
        title: 'Login to Purchase',
        text: 'To make a purchase, please log in.',
        icon: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Login'
    }).then((result) => {
        if (result.isConfirmed) {
            
            window.location.href = '/signin';
        }
    });
    return;
  }

else{

  try {
    const response = await fetch(`/wishlist?productId=${productId}&userId=${userId}`, {
      method: 'POST',
      body:JSON.stringify({id:productId}),
      headers: {
        'Content-Type': 'application/json'
      }
    });

    if (!response.ok) {
      let data = await response.json();
      console.log('network not ok ,response data :',data)
      throw new Error(data.message || "Error adding product to wishlist");
    }

    const data = await response.json();

    if (data.success) {
      Swal.fire({
        title: data.message || "Added to wishlist",
        icon: "success",
        timer: 1500,
        showConfirmButton: false
      });
    } else {
      Swal.fire({
        title: data.message || "Already in the wishlist",
        icon: "warning",
        timer: 2500,
        showConfirmButton: false
      });
    }
  }catch(error){
    console.error('Error adding product to wishlist:', error.message);
    Swal.fire({
      title: "Error",
      text: error.message || "Error adding product to wishlist",
      icon: "error",
      timer: 2500,
      showConfirmButton: false
    });
  }
}
}
    
</script>
<%- include('./layouts/footer') %>
 











