<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>vedCart</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="vedCart - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/userAssets/home/assets/images/icons/logo_dcs.jpeg">
    <link rel="icon" type="image/png" sizes="32x32" href="/userAssets/home/assets/images/icons/logo_dcs.jpeg">
    <link rel="icon" type="image/png" sizes="16x16" href="/userAssets/home/assets/images/icons/logo_dcs.jpeg">
    <link rel="manifest" href="/userAssets/home/assets/images/icons/site.html">
    <link rel="mask-icon" href="/userAssets/home/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userAssets/home/assets/images/icons/logo_dcs.jpeg">
    <meta name="apple-mobile-web-app-title" content="vedCart">
    <meta name="application-name" content="vedCart">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/userAssets/home/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/userAssets/home/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userAssets/home/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/userAssets/home/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/userAssets/home/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/userAssets/home/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userAssets/home/assets/css/style.css">
    <link rel="stylesheet" href="/userAssets/home/assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="/userAssets/home/assets/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="/userAssets/home/assets/css/demos/demo-13.css">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
 
<style>
    .dropdown-menu {
    display: none;
}

.compare-dropdown .dropdown-menu {
    padding: 10px;
    min-width: 200px;
}

.compare-dropdown .dropdown-cart-products .product {
    padding: 10px 0;
}

.compare-dropdown .dropdown-divider {
    margin: 0;
    border-top: 1px solid #e9ecef;
}

.compare-dropdown .sign-up-link {
    color: #007bff;
    text-decoration: none;
}

.compare-dropdown .sign-up-link:hover {
    text-decoration: underline;
}

/* for the search bar main header*/

.header-search-wrapper {
    position: relative; 
}

.search-results-dropdown {
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        max-height: 200px;
        overflow-y: auto;
        display: none;
        width: 100%;
        top: 100%;
    left: 0;
    z-index: 1000;
    }
    .search-result-item {
        display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    }
    .search-result-item:hover {
        background-color: #f0f0f0;
    }

    .search-result-item img {
    margin-right: 10px;
    width: 50px; 
    height: 50px;
}

.search-result-item span {
    flex: 1;
    color: #000; 
    font-size: 16px; 
        visibility: visible;
}

.mobile-search {
    position: relative;
}

#mobileSearchResults {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    width: calc(100% - 20px); /* Adjust width to be slightly less than the input */
            top: calc(100% + 5px); /* Adjust top to ensure it appears below the search input */
            left: 10px; /* Center the dropdown below the input */
            z-index: 1000;
}

#mobileSearchResults .search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

#mobileSearchResults .search-result-item:hover {
    background-color: #f0f0f0;
}

#mobileSearchResults .search-result-item img {
    margin-right: 10px;
    width: 50px; 
    height: 50px;
}

#mobileSearchResults .search-result-item span {
    flex: 1;
    color: #000; 
    font-size: 16px;
}


</style>
    

</head>

<body>
    <div class="page-wrapper">
        <header class="header header-10 header-intro-clearance">
           

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="/" class="logo">
                            <img src="/userAssets/home/assets/images/demos/demo-13/logo_web.webp" alt="vedCart Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->





                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form id="searchForm" action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide" style="position: relative;">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q"  id="q" placeholder="Search product ..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>

                                    <div id="searchResults" class="search-results-dropdown">
                                        <!-- Search result item template -->
                                        <div class="search-result-item">
                                            <img class="default-img product-image" src="" alt="Product image">
                                            <span class="product-name"></span>
                                        </div>
                                    </div>
                                    </div>
                            </form>
                           
                        </div><!-- End .header-search -->
                    </div>
                 

                    <div  class="header-right">
                        <div class="header-dropdown-link">

                    
                            

                            <% if(userNameforProfile && userNameforProfile.isVerified ) { %>
                               

                                <div class="dropdown compare-dropdown">
                                
                                
                                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                        <lord-icon
                                        src="https://cdn.lordicon.com/lhwyshcs.json"
                                        trigger="loop"
                                        delay="2000"
                                        state="hover-wave"
                                        style="width:40px;height:40px">
                                    </lord-icon>
                                        <span class="compare-txt">Hello   <%=userNameforProfile.name%></span>
                                    </a>
    
                                    <div class="dropdown-menu dropdown-menu-right" style="border-radius: 10%;">
                                        <div class="dropdown-cart-products" style="padding-left: 10%;padding-right: 15%;">
                                           
                                           
                                           
                                            <div class="product d-flex align-items-center">
                                              <span>
                                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                                <lord-icon
                                                    src="https://cdn.lordicon.com/mprbsyfz.json"
                                                    trigger="loop"
                                                    delay="500"
                                                    stroke="bold"
                                                    style="width:35px;height:35px">
                                                </lord-icon>
                                    
                                    
                                              </span>
                                              <span style="display: inline-block;margin-left: 10px;font-size: 12px;"><a href="/userProfile">My profile</a></span>
                                            </div><!-- End .product -->
                                            <hr class="dropdown-divider">
                                            <div class="product d-flex align-items-center">
                                                <span>
                                    
                                                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                                    <lord-icon
                                                        src="https://cdn.lordicon.com/gtzytosd.json"
                                                        trigger="loop"
                                                        delay="500"
                                                        stroke="bold"
                                                        style="width:30px;height:30px">
                                                    </lord-icon>
                                                </span>
                                                <span style="display: inline-block;margin-left: 10px;font-size: 12px;"><a href="/signout">Logout</a></span>
                                              </div><!-- End .product -->
                                        </div><!-- End .cart-product -->
                                    
                                       
                                    </div><!-- End .dropdown-menu -->  
                                </div><!-- End .compare-dropdown -->


                        
                            <% } else { %>
                              
                                <div class="dropdown compare-dropdown" >
                                
                                
                                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                      
                                        <lord-icon
                                        src="https://cdn.lordicon.com/cjhlqtae.json"
                                        trigger="loop"
                                        state="loop-roll"
                                        style="width:40px;height:40px">
                                    </lord-icon>
    
                                        <span class="compare-txt">Login to explore more</span>
                                    </a>
    
                                    <div class="dropdown-menu dropdown-menu-right" style="border-radius: 10%;">
                                        <div class="dropdown-cart-products" style="padding-left: 20px;padding-right: 20px;">
                                            <div class="product d-flex justify-content-between align-items-center">
                                              <span>New Customer ?</span>
                                              <span class="justify-content-space-around"><a href="/signup">Sign up</a></span>
                                            </div><!-- End .product -->
                                            <hr class="dropdown-divider">
                                            <div class="product d-flex align-items-center">
                                              <span>
                                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                                <lord-icon
                                                    src="https://cdn.lordicon.com/mprbsyfz.json"
                                                    trigger="loop"
                                                    delay="500"
                                                    stroke="bold"
                                                    style="width:35px;height:35px">
                                                </lord-icon>


                                              </span>
                                              <span style="display: inline-block;margin-left: 10px;font-size: 12px;"><a href="/userProfile">My profile</a></span>
                                            </div><!-- End .product -->
                                            <hr class="dropdown-divider">
                                            <div class="product d-flex align-items-center">
                                                <span>

                                                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                                    <lord-icon
                                                        src="https://cdn.lordicon.com/emmdznaj.json"
                                                        trigger="hover"
                                                        stroke="bold"
                                                        style="width:40px;height:40px">
                                                    </lord-icon>
                                                </span>
                                                <span style="display: inline-block;margin-left: 10px;font-size: 12px;"><a href="/orderdetails">Orders</a></span>
                                              </div><!-- End .product -->
                                        </div><!-- End .cart-product -->
                                    
                                       
                                    </div><!-- End .dropdown-menu -->  
                                </div><!-- End .compare-dropdown -->

                                <% } %>


                                <% if(userNameforProfile && userNameforProfile.isVerified ) { %>
                            <a  href="/wishlist" class="wishlist-link">
                                <lord-icon
                                src="https://cdn.lordicon.com/etgnxeer.json"
                                trigger="loop"
                                delay="1500"
                                style="width:40px;height:35px">
                            </lord-icon>
                                <span class="wishlist-count"><%= wishlistProductCount %></span>
                                <span class="wishlist-txt">Wishlist</span>
                            </a>
                            <% } %>



                            
                            <div class="dropdown cart-dropdown">
                                <% if(userNameforProfile && userNameforProfile.isVerified ) { %>
                                <a href="/cart" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <lord-icon
                                    src="https://cdn.lordicon.com/guothkao.json"
                                    trigger="loop"
                                    delay="2000"
                                    style="width:40px;height:40px">
                                </lord-icon>
                                    <span class="cart-count"><%= cartProductCount %></span>
                                    <span class="cart-txt">Cart</span>
                                </a>
                               
                            
                            
                            
                                <div class="dropdown-menu dropdown-menu-right" style="padding: 1rem 3rem;">
                                   
                                    <div class="dropdown-menu dropdown-menu-right" style="border-radius: 8%;">
                                        <div class="dropdown-cart-products">
                                            <% if(cart && cart?.products && cart?.products?.length !==0) {%>
                                            <% cart.products.forEach((item,index)=> {%>
                                            <div class="product">
                                                <div class="product-cart-details">
                                                    <h4 class="product-title">
                                                        <a href="/productPage?id=<%= item.productId.id %>"><%= item.productId.name %></a>
                                                    </h4>
                            
                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty"><%= item.quantity %></span>
                                                        x ₹<%= item.productId.offerprice ? item.productId.offerprice : item.productId.price %>
                                                    </span>
                                                </div><!-- End .product-cart-details -->
                            
                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="/adminAssets/imgs/category/<%= item.productId.images[0] %>" alt="product">
                                                    </a>
                                                </figure>
                                                <a hidden href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                            </div><!-- End .product -->

                                            
                                            <% }) %>

                                            <div class="dropdown-cart-total">
                                                <span>Total</span>
                                
                                                <span class="cart-total-price">₹<%= totalPriceOfCartProducts %></span>
                                            </div><!-- End .dropdown-cart-total -->
                                          <% }else{ %>
                                            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script><dotlottie-player src="https://lottie.host/39e3eb45-7c4d-40b4-b99e-6e44219446b7/F3b6kldNwX.json" background="transparent" speed="1" style="width: 250px; height: 290px" direction="1" playMode="normal" loop autoplay></dotlottie-player>
                                            <h4 class="mb-5 text-warning">Oops.. Empty cart !</h4>
                                            <% } %>
                                        </div><!-- End .cart-product -->
                            
                                        
                            
                                        <div class="dropdown-cart-action">
                                            <a href="/cart" class="btn btn-primary">View Cart</a>
                                            <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                        </div><!-- End .dropdown-cart-total -->
                                    </div><!-- End .dropdown-menu -->
                                </div><!-- End .dropdown-menu -->
                                <% } %>
                            </div><!-- End .cart-dropdown -->
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">


                        <div class="dropdown category-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" title="Browse Categories">
                                Browse Categories
                            </a>
                            
                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        
                                       
                                        <% if(categoriesWithProducts && categoriesWithProducts?.length !== 0) { %>
                                            <%categoriesWithProducts.forEach((cat,index)=>{%>
                                        <li class="megamenu-container">
                                            <a class="sf-with-ul" href="#"> <%= cat.name %></a>
                            
                                            <div class="megamenu" style="width: 700px;">
                                                <div class="row no-gutters">
                                                    <div class="col-md-8">
                                                        <div class="menu-col">
                                                            <div class="row">
                                                                <div hidden class="col-md-6">
                                                                    <div class="menu-title">More details</div><!-- End .menu-title -->
                                                                    <ul>
                                                                        <li><a href="#"><strong>New Arrivals</strong></a></li>
                                                                        <li><a href="#"><strong>Best Sellers</strong></a></li>
                                                                        <li><a href="#"><strong>Trending</strong></a></li>
                                                                        
                                                                    </ul>
                                                                </div><!-- End .col-md-6 -->
                            
                                                                <div class="col-md-9">
                                                                    <div class="menu-title">Products</div><!-- End .menu-title -->
                                                                    <ul >
                                                                       <% cat.products.forEach((prod,index)=>{ %>
                                                                        <li><a href="#" style="font-family: 'Dancing Script', cursive; font-size: 16px; color: #029a49;"><%= index + 1 %>. <%= prod.name %></a></li>
                                                                        <% }) %>
                                                                    </ul>
                                                                </div><!-- End .col-md-6 -->
                                                            </div><!-- End .row -->
                                                        </div><!-- End .menu-col -->
                                                    </div><!-- End .col-md-8 -->
                            
                                                    <div class="col-md-4">
                                                        <div class="banner banner-overlay">
                                                            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script><dotlottie-player src="https://lottie.host/63f92b03-9df2-4ec9-9a02-cf1f719c3f2c/QUWZQKsool.json" background="#FFFFFF" speed="1" style="width: 300px; height: 300px" direction="1" playMode="normal" loop autoplay></dotlottie-player>
                                                        </div><!-- End .banner banner-overlay -->
                                                    </div><!-- End .col-md-4 -->
                                                </div><!-- End .row -->
                            
                                                <div class="menu-col menu-brands">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <a href="#" class="brand">
                                                                <img src="/userAssets/home/assets/images/brands/11.jpg" alt="Brand Name">
                                                            </a>
                                                        </div><!-- End .col-lg-2 -->
                            
                                                        <div class="col-lg-2">
                                                            <a href="#" class="brand">
                                                                <img src="/userAssets/home/assets/images/brands/22.webp" alt="Brand Name">
                                                            </a>
                                                        </div><!-- End .col-lg-2 -->
                            
                                                        <div class="col-lg-2">
                                                            <a href="#" class="brand">
                                                                <img src="/userAssets/home/assets/images/brands/33.png" alt="Brand Name">
                                                            </a>
                                                        </div><!-- End .col-lg-2 -->
                            
                                                        <div class="col-lg-2">
                                                            <a href="#" class="brand">
                                                                <img src="/userAssets/home/assets/images/brands/44.webp" alt="Brand Name">
                                                            </a>
                                                        </div><!-- End .col-lg-2 -->
                            
                                                        <div class="col-lg-2">
                                                            <a href="#" class="brand">
                                                                <img src="/userAssets/home/assets/images/brands/55.jpeg" alt="Brand Name">
                                                            </a>
                                                        </div><!-- End .col-lg-2 -->
                            
                                                        <div class="col-lg-2">
                                                            <a href="#" class="brand">
                                                                <img src="/userAssets/home/assets/images/brands/66.jpeg" alt="Brand Name">
                                                            </a>
                                                        </div><!-- End .col-lg-2 -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-brands -->
                                            </div><!-- End .megamenu -->
                                        </li>
                                        <% }) %>
                            `              <% } %>
                            
                            
                                    </ul><!-- End .menu-vertical -->
                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                            </div><!-- End .category-dropdown -->




                    </div><!-- End .col-lg-3 -->


                    <!-- <script>
                        function toggleDropdown() {
                        var dropdownMenu = document.getElementById("dropdownMenu");
                        if (dropdownMenu.style.display === "none") {
                            dropdownMenu.style.display = "block";
                        } else {
                            dropdownMenu.style.display = "none";
                        }
                    }
                    
                    </script> -->



                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li id="home-menu" class="megamenu-container">
                                    <a href="/" >Home</a>

                                   
                                </li>
                                <li id="shop-menu">
                                    <a href="/shop">Shop</a>
                                </li>
                                <li id="about-menu">
                                    <a href="/about">About</a>
                                </li>
                                <li id="contact-menu">
                                    <a href="/contact">Contact Us</a>
                                </li>
                                <li id="blog-menu">
                                    <a href="/blog">Blog</a>
                                </li>
                               
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .col-lg-9 -->
                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p>Clearance Up to 30% Off</span></p>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->



     
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Get the specific category dropdown elements
                const categoryDropdown = document.querySelector('.category-dropdown');
                const categoryDropdownToggle = categoryDropdown.querySelector('.dropdown-toggle');
                const categoryDropdownMenu = categoryDropdown.querySelector('.dropdown-menu');
        
                categoryDropdownToggle.addEventListener('click', function (event) {
                    event.preventDefault();
                    categoryDropdownMenu.classList.toggle('show');
                });
        
                // Close the dropdown if clicked outside
                document.addEventListener('click', function (event) {
                    if (!categoryDropdown.contains(event.target)) {
                        categoryDropdownMenu.classList.remove('show');
                    }
                });

// ----------  for highlighting the field which is active of the menu bar   -----------------
                const path = window.location.pathname;
        
        console.log('this is the path :',path)
        // Remove 'active' class from all menu items
        document.querySelectorAll('.main-nav .menu li').forEach(item => {
            item.classList.remove('active');
        });

        // Add 'active' class to the current menu item
        if (path === "/") {
            document.getElementById("home-menu").classList.add('active');
        } else if (path.startsWith("/shop")) {
            document.getElementById("shop-menu").classList.add('active');
        } else if (path.startsWith("/about")) {
            document.getElementById("about-menu").classList.add('active');
        } else if (path.startsWith("/contact")) {
            document.getElementById("contact-menu").classList.add('active');
        } else if (path.startsWith("/blog")) {
            document.getElementById("blog-menu").classList.add('active');
        }


            });
        </script>
        
        
      
        
    

<style>

.toolbox-left {
    display: flex;
    align-items: center;
}
.toolbox-left input[type="text"] {
    flex: 1; /* Take up remaining space */
    margin-right: 10px; /* Adjust the margin between the input and button */
}


/* Style for search box in it below the banner  */
.toolbox-left {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
}

.search-box {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
}

.search-box input[type="text"] {
    width: 200px;
    height: 31px;
    margin-right: 10px; /* Add margin between input and button */
}



/* style for not showing two seperate images and instead to show only one and on hover only it should show the other one */
.product-media {
     position: relative;
     overflow: hidden;
 }
 
 .product-link {
     display: block;
 }
 
 .hover-img {
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0;
     transition: opacity 0.3s ease;
 }
 
 .product-link:hover .hover-img {
     opacity: 1;
 }

/* to reduce the height of the banner and make it look more attractive */
 .banner {
    max-height: 250px; /* Adjust the max-height as per your preference */
    overflow: hidden; /* Hide any content that exceeds the max-height */
}
.banner img {
    width: auto;
    height: 100%;
}

/* to change the font of add to cart  */
/* Custom CSS to adjust the font size of the "Go to Cart" button */
.btn-product.btn-cart {
    font-size: 14px; /* Adjust the font size as needed */
}


</style>

 
    <!-- <div class="page-wrapper"> -->
      <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
          <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
              <li class="breadcrumb-item active" aria-current="page">

                <% if (query.category) { %>
                    <%= category.find(cat => cat._id.toString() === query.category)?.name %>
                <% } else { %>
                    All
                <% } %>
                  
            </li>
            </ol>
          </div>
          <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->

        <div class="page-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-9 col-xl-4-5col">
                <div 
                  class="category-banners-slider owl-carousel owl-simple owl-nav-inside "
                  data-toggle="owl"
                  data-owl-options='{
                                    "nav": false,
                                    "responsive": {
                                        "768": {
                                            "nav": true
                                        }
                                    }
                                }'
                > <div class="banner banner-poster">
                                    
                  <a href="#">
                      <img src="/uploads/banners/<%= banners %>" alt="Banner">
                  </a>

                  <div  class="banner-content banner-content-right">
                      <h3 hidden class="banner-subtitle"><a href="#">Amazing Value</a></h3><!-- End .banner-subtitle -->
                      <h2 class="banner-title text-white"><a href="#">Stay tuned for exciting offers..!</a></h2><!-- End .banner-title -->
                      <a hidden href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                  </div><!-- End .banner-content -->
              </div><!-- End .banner -->
                 
                  <!-- End .banner -->

                  
                  <!-- End .banner -->
                </div>
                <!-- End .owl-carousel -->

                <div class="mb-3"></div>
                <!-- End .mb-3 -->

              

                <div class="mb-3 mb-lg-5"></div>
                <!-- End .mb-3 mb-lg-5 -->

                <div class="mb-2"></div>
                <!-- End .mb-2 -->

                <div class="mb-4"></div>
                <!-- End .mb-4 -->

                <div class="toolbox">


                  <div class="toolbox-left">
                    <div class="search-box">
                        <input type="text" class="form-control" id="searchInput" placeholder="Search..." aria-label="Search" />
                        <a href="#" onclick="searchProducts()" class="btn btn-link btn-link-dark"><span>Search</span><i class="icon-long-arrow-right"></i></a>
                    </div>
                </div>



                  <div class="toolbox-right">
                    <div class="toolbox-sort">
                        <label for="sortby">Sort by:</label>
                        <div class="select-custom">
                            <select name="sortby" id="sortby" class="form-control" onchange="sortProducts(this)">
                              <option value="select" <% if (!query.sort) { %>selected<% } %>>Select</option>
                              <option value="nameAsc" <% if (query.sort === 'nameAsc') { %>selected<% } %>>A-Z</option>
                                <option value="nameDesc" <% if (query.sort === 'nameDesc') { %>selected<% } %>>Z-A</option>
                                <option value="date" <% if (query.sort === 'date') { %>selected<% } %>>Newly Launched</option>
                            </select>
                        </div>
                    </div>
                    <!-- End .toolbox-sort -->
                    <button hidden onclick="resetFilters()" class="btn btn-secondary">Reset Filters</button>
                </div>
                <!-- End .toolbox-right -->
                
                  <!-- End .toolbox-right -->
                </div>
                <!-- End .toolbox -->


                

                   

                <div class="products mb-3 tablet">
                  <div class="row">
                    <% if(product.length > 0) {%>
                    <% product.forEach(product=>{ %>
                    <div class="col-6 col-md-4 col-xl-3">
                       
                      <div class="product">
                        <figure class="product-media">
                          <span hidden class="product-label label-new">New</span>
                          <a href="/productPage?id=<%= product.id %>" class="product-link">


<!-- this shows two images but the second one only when hover the first image -->
                            <img class="default-img product-image" src="/adminAssets/imgs/category/<%= product.images[0] %>" >
                            <img class="hover-img product-image" src="/adminAssets/imgs/category/<%= product.images[1] %>" >
<!-- the image part hovering ends here -->

                  
                          </a>
<!-- you might get confused about what this 'user'is . it is actually the user._id in user model -->
                          <div class="product-action-vertical">
                            <% if (user) { %>
                              <a
                                  href="#"
                                  onclick="wishList(event,'<%= product._id %>','<%= user %>')"
                                  class="btn-product-icon btn-wishlist btn-expandable"
                              >
                                  <span>add to wishlist</span>
                              </a>
                          <% } else { %>
                              <a
                                  href="#"
                                  onclick="wishList(event,'<%= product._id %>','')"
                                  class="btn-product-icon btn-wishlist btn-expandable"
                              >
                                  <span>add to wishlist</span>
                              </a>
                          <% } %>



                            <a
                              href="#"
                              class="btn-product-icon btn-compare"
                              title="Compare"
                              ><span>Compare</span></a
                            >
                            <a
                              href="popup/quickView.html"
                              class="btn-product-icon btn-quickview"
                              title="Quick view"
                              ><span>Quick view</span></a
                            >
                          </div>
                          <!-- End .product-action-vertical -->

                          <div class="product-action">
                            <a href="#" 
                            class="btn-product btn-cart"
                            title="Add to cart"
                            onclick="addToCart('<%= user %>','<%= product.id %>');return false;"
                            data-product-id="<%= product.id %>">
                            <span>add to cart</span>
                         </a>
                          </div>
                          <!-- End .product-action -->
                        </figure>
                        <!-- End .product-media -->

                        <div class="product-body">
                          <div class="product-cat">
                            <a href="#"><%= product.category.name %></a>
                          </div>
                          <!-- End .product-cat -->
                          <h3 class="product-title">
                            <a href="#"><%= product.name %></a>
                          </h3>
                          <!-- End .product-title -->
                          <div class="product-price">
                            <% if (product.offer || product.category.offer) { %>
                                <div class="row">


                                  <br>
                                  <span class="original-price" style="margin-left: 10px;text-decoration: line-through;">₹<%= product.price %></span>
                                  <% 
                                     const productOffer = product.offer;
                                     const categoryOffer = product.category ? product.category.offer : null;
                                     
                                     const discount = productOffer && categoryOffer ? Math.max(productOffer.discount, categoryOffer.discount) : (productOffer ? productOffer.discount : (categoryOffer ? categoryOffer.discount : 0));
                                  %>
                                  <% if (discount > 0) { %>
                                      <span class="offer-price" style="color: red; font-size: 16px;">
                                          (<%= discount %> % Off)
                                      </span>
                                  <% } %>
                                  


                                </div>
                                <span class="w-100" style="color: rgb(0, 170, 0);font-size: 20px;">₹<%= product.offerprice %>
                                        </span>

                                <% } else { %>
                                  <span class="original-price  " style="margin-left: 10px;">₹
                                    <%= product.price %>
                                </span>
                                        <% } %>


                          </div>
                          <!-- End .product-price -->


 <!-- stock part -->
 <% if (product.quantity === 0) { %>
  <h5 style="color: red;">OUT OF STOCK!</h5>
  <% } else if(product.quantity ===3) { %>
      <span style="color: #9f4242;">Only <%=product.quantity%> left!</span>
      <% } else if(product.quantity <=5) { %>
          <span style="color: #ff4545;"> Hurry Only <%=product.quantity%> left!</span>
          <% } %>

        <!-- stock part ends -->






                          <div  class="ratings-container">
                            <div class="ratings">
                              <div class="ratings-val" style="width: 80%"></div>
                              <!-- End .ratings-val -->
                            </div>
                            <!-- End .ratings -->
                            <span class="ratings-text">( 12 Reviews )</span>
                          </div>
                          <!-- End .rating-container -->
                        </div>
                        <!-- End .product-body -->
                      </div>
                     
                      <!-- End .product -->
                    </div>


                    <%  }) %>
                    <% } else { %>
                      <tr>
                        <td colspan="2">Product not found</td>
                      </tr>
                      <% } %>




                    <!-- End .col-sm-6 col-md-4 col-xl-3 -->

                  
                    <!-- End .col-sm-6 col-md-4 col-xl-3 -->

                     
                    <!-- End .col-sm-6 col-md-4 col-xl-3 -->

                   
                    <!-- End .col-sm-6 col-md-4 col-xl-3 -->

                  
                    <!-- End .col-sm-6 col-md-4 col-xl-3 -->

                  
                    <!-- End .col-sm-6 col-md-4 col-xl-3 -->

                    <!-- End .col-sm-6 col-md-4 col-xl-3 -->
                  </div>
                  <!-- End .row -->
                </div>
                <!-- End .products -->
                
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <% if (pagination.currentPage > 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= pagination.currentPage - 1 %>" aria-label="Previous">
                                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                              </a>
                        </li>
                      <% } %>
                      <% for (let i = 1; i <= pagination.totalPages; i++) { %>
                        <li class="page-item <%= i === pagination.currentPage ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                          </li>
                      <% } %>
                      <% if (pagination.currentPage < pagination.totalPages) { %>
                        <li class="page-item">
                          <a class="page-link" href="?page=<%= pagination.currentPage + 1 %>"
                            aria-label="Next">
                            Next<span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                          </a>
                        </li>
                      <% } %>
                    </ul>
                  </nav>
                  
              </div>
              <!-- End .col-lg-9 -->

              <aside class="col-lg-3 col-xl-5col order-lg-first">
                <div class="sidebar sidebar-shop">
                  <div class="widget widget-categories">
                    <h3 class="widget-title">Category</h3>
                    <!-- End .widget-title -->
                    <div class="widget-body">
                      <div class="filter-items">
                        <div class="filter-item">
                          <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            class="custom-control-input"
                            id="category-all"
                            name="filter-category"
                            onclick="filterByCategory('all')" <% if (!query.category || query.category === 'all') { %>checked<% } %>
                          />
                          <label class="custom-control-label" for="category-all">All</label>
                        </div>


                            <% category.forEach((category,index)=>{ %>
                               
                          <div class="custom-control custom-radio">
                            <input
                              type="radio"
                              class="custom-control-input"
                              id="category-<%= index + 1 %>"
                              name="filter-category"
                              onclick="filterByCategory('<%= category._id.toString() %>')"   <% if (query.category === category._id.toString()) { %>checked<% } %>
                              
                            />
                            <label class="custom-control-label" for="category-<%= index + 1 %>"><%= category.name %></label>
                          </div>

                          <% }) %>

                          <!-- End .custom-checkbox -->
                         
                        </div>
                        <!-- End .filter-item -->

                       <br>
                        <!-- End .filter-item -->

                       
                        <!-- End .filter-item -->
                      </div>
                      <!-- End .filter-items -->
                    </div>
                    
                    <!-- End .widget-body -->
                  </div>
                  <!-- End .widget -->

                  
                  <!-- End .widget -->

                  <div class="widget">
                    <h3 class="widget-title">Price</h3>
                    <!-- End .widget-title -->

                    <div class="widget-body">
                      <div class="filter-items">
                        <div class="filter-item">
                          <div class="custom-control custom-radio">
                            <input
                              type="radio"
                              class="custom-control-input"
                              id="price-low-to-high"
                              name="filter-price"
                              onclick="filterByPrice('low-to-high')"
                              <% if (query.price === 'low-to-high') { %>checked<% } %>
                            />
                            <label class="custom-control-label" for="price-low-to-high"
                            > low to high</label
                            >
                          </div>
                          <!-- End .custom-checkbox -->
                          <div class="custom-control custom-radio">
                            <input
                              type="radio"
                              class="custom-control-input"
                              id="price-high-to-low"
                              name="filter-price"
                              onclick="filterByPrice('high-to-low')"
                              <% if (query.price === 'high-to-low') { %>checked<% } %>
                            />
                            <label class="custom-control-label" for="price-high-to-low"
                            > High to low</label
                            >
                          </div><br>
                          <!-- Clear Filters Button -->

  <a href="/shop" class="btn btn-link">Clear Filters</a>


                        </div>
                        <!-- End .filter-item -->
                       
                       
                        <!-- End .filter-item -->

                       
                        <!-- End .filter-item -->
                      </div>
                      <!-- End .filter-items -->
                    </div>
                    <!-- End .widget-body -->
                  </div>
                  <!-- End .widget -->

                 
                  <!-- End .widget -->

                
                </div>
                <!-- End .sidebar sidebar-shop -->
              </aside>
              <!-- End .col-lg-3 -->
            </div>
            <!-- End .row -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .page-content -->

       



      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
     


// alternative way to reset any filters applied --------------
     function resetFilters() {
  window.location.href = '/shop';
}





        // Function to handle sorting products
function sortProducts(input) {
  const sortValue = input.value;

console.log('this is the sortValue ::::',sortValue)

  const searchParams = new URLSearchParams(window.location.search);

  console.log('searchParams at sortValue is :',searchParams)

  searchParams.set('sort', sortValue);


  // setTimeout(() => {
  window.location.href = `/shop?${searchParams.toString()}`;
// }, 60000);
}






// Function to handle selecting a category for filtering
function filterByCategory(categoryId) {
  const searchParams = new URLSearchParams(window.location.search);
console.log('searchParams at filterByCategory is :',searchParams)

if(categoryId === 'all'){
  searchParams.delete('category');
}else{
  searchParams.set('category',categoryId)
}

  window.location.href = `/shop?${searchParams.toString()}`;

}






// Function to handle filtering products by price range
function filterByPrice(priceRange) {
  const searchParams = new URLSearchParams(window.location.search);

console.log('searchParams at filterbyprice is :',searchParams)

  searchParams.set('price', priceRange);
  // Remove other filtering options when changing the price range
  // setTimeout(() => {
  window.location.href = `/shop?${searchParams.toString()}`;
// }, 60000);
}


// Function to handle searching for products
function searchProducts() {
    const searchInput = document.getElementById('searchInput').value;

console.log('searchinput at searchProudct :',searchInput)

    const searchParams = new URLSearchParams(window.location.search);

console.log('searchParams is :',searchParams)

    searchParams.set('search', searchInput);

    // Delay the redirection using setTimeout
    // setTimeout(() => {
        window.location.href = `/shop?${searchParams.toString()}`;
    // }, 60000); // Delay for 10 seconds (10000 milliseconds)
}

    window.addEventListener('DOMContentLoaded', (event) => {
        const urlParams = new URLSearchParams(window.location.search);
        const searchInput = document.getElementById('searchInput');
        const searchQuery = urlParams.get('search');

        if (searchQuery) {
            searchInput.value = searchQuery;
        }
        searchInput.addEventListener('input', function() {
            if (this.value.trim() === '') {
                clearSearchFilter();
            }
        });
    });
    function clearSearchFilter() {
        const searchParams = new URLSearchParams(window.location.search);
        searchParams.delete('search');
        window.location.href = `/shop?${searchParams.toString()}`;
    }






//===========   wishlisting a product  ==============================

async function wishList(event,productId,userId){
    event.preventDefault();
  console.log(`onclick wishlist , userId present is ${userId} and it's type is ${typeof userId}`)
  // console.log('this is the product id at wishlist add : ',productId);

  //case if the usr is not logged in
  if(!userId ||userId === String(null) ){
    Swal.fire({
        title: 'Login to Purchase',
        text: 'To make a purchase, please log in.',
        icon: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Login'
    }).then((result) => {
        if (result.isConfirmed) {
            
            window.location.href = '/signin';
        }
    });
    return;
  }

else{

  try {
    const response = await fetch(`/wishlist?productId=${productId}&userId=${userId}`, {
      method: 'POST',
      body:JSON.stringify({id:productId}),
      headers: {
        'Content-Type': 'application/json'
      }
    });

    if (!response.ok) {
      let data = await response.json();
      console.log('network not ok ,response data :',data)
      throw new Error(data.message || "Error adding product to wishlist");
    }

    const data = await response.json();

    if (data.success) {
      Swal.fire({
        title: data.message || "Added to wishlist",
        icon: "success",
        timer: 1500,
        showConfirmButton: false
      });
    } else {
      Swal.fire({
        title: data.message || "Already in the wishlist",
        icon: "warning",
        timer: 2500,
        showConfirmButton: false
      });
    }
  }catch(error){
    console.error('Error adding product to wishlist:', error.message);
    Swal.fire({
      title: "Error",
      text: error.message || "Error adding product to wishlist",
      icon: "error",
      timer: 2500,
      showConfirmButton: false
    });
  }




}

}



// ---------------  adding a product to cart -----------------------------
function addToCart(userId, productId) {
    if (!userId || userId === 'null') {
        Swal.fire({
            title: 'Login to Purchase',
            text: 'To make a purchase, please log in.',
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Login'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/signin';
            }
        });
    } else {
        let quantity = 1; // Default quantity
        // Check if the product is already in the cart
        const addToCartButton = document.querySelector(`[data-product-id="${productId}"]`);
        if (addToCartButton && addToCartButton.dataset.added === 'true') {
            // Product is already added to cart, show warning message
            Swal.fire({
                icon: 'warning',
                title: 'Product already in cart!',
                text: 'This product is already in your cart. You can proceed to the cart page.',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Go to Cart'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/cart';
                }
            });
        } else {
            // Fetch to add the product to cart
            fetch(`/addToCart/${productId}/${quantity}/${userId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    quantity: quantity,
                }),
            })
            .then((response) => {
                if (response.status === 401) {
                    throw new Error('User not authenticated. Please login first.');
                }
                if (response.status === 400) {
                    return response.json().then(data => {
                        throw new Error(data.error);
                    });
                }
                return response.json();
            })
            .then((data) => {
                console.log('Response from the backend while product added to cart:', data);
                // Update button text and mark product as added to cart
                if (addToCartButton) {
                    // addToCartButton.innerText = 'Go to Cart';
                    addToCartButton.dataset.added = 'true';
                    Swal.fire({
                    icon: 'success',
                    title: 'Product added to cart!',
                    showConfirmButton: false,
                    timer: 500,
                });
                }else if (data && data.error === "You're blocked by the admin") {
                    // User is blocked by admin, show error message
                    Swal.fire({
                        icon: 'error',
                        title: 'Blocked by admin',
                        text: 'You have been blocked by the admin. Please contact support for further assistance.',
                    });
                }
               
            })
            .catch((error) => {
                console.error('Error at product addition to the cart :', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error adding to cart',
                    text: error.message || 'An error occurred while adding the product to the cart.',
                });
            });
        }
    }
}

document.addEventListener("DOMContentLoaded", function() {
        const searchInput = document.getElementById("q");
        const searchResults = document.getElementById("searchResults");
        let debounceTimeout;
    
        searchInput.addEventListener("input", function() {
            clearTimeout(debounceTimeout);
           
    
            debounceTimeout = setTimeout(function() {
            const query = searchInput.value.trim();

            if (query.length > 0) {
                fetch(`/mainSearch?q=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        searchResults.innerHTML = "";




                        if (data.length > 0) {
                            data.forEach(product => {
                                const item = document.createElement("div");
                                item.classList.add("search-result-item");

                                  const img = document.createElement("img");
                            img.classList.add("default-img", "product-image");
                            img.src = product.image ? `/adminAssets/imgs/category/${product.image}` : 'default-image.jpg';
                            img.alt = product.name;


                            const text = document.createElement("span");
                            text.classList.add("product-name");
                            text.textContent = product.name;
                            
                           
                            item.appendChild(img);
                            item.appendChild(text);

                                item.addEventListener("click", () => {
                                    window.location.href = `/shop`;
                                });
                                searchResults.appendChild(item);
                            });
                            searchResults.style.display = "block";
                        } else {

                            const item = document.createElement("div");
                                item.classList.add("search-result-item");
                                const text = document.createElement("span");
                                text.textContent = 'No item found';
                                item.appendChild(text);
                                searchResults.appendChild(item);
                                searchResults.style.display = "block";
                        }
                    });
            } else {
                searchResults.style.display = "none";
            }
        }, 1000); 
        });
    
        document.addEventListener("click", function(event) {
            if (!searchResults.contains(event.target) && event.target !== searchInput) {
                searchResults.style.display = "none";
            }
        });
    });



      </script>





<div class="cta cta-horizontal cta-horizontal-box bg-primary">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-2xl-5col">
              <h3 class="cta-title text-white">Join Our Newsletter</h3><!-- End .cta-title -->
              <p class="cta-desc text-white">Subcribe to get information about products and coupons</p><!-- End .cta-desc -->
          </div><!-- End .col-lg-5 -->
          
          <div class="col-3xl-5col">
            <form id="newsletterForm" action="#">
                <div class="input-group">
                    <input type="email" id="newsLetterEmail" class="form-control form-control-white" placeholder="Enter your Email Address" aria-label="Email Address" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-white-2" type="button" id="subscribeButton"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
                    </div><!-- .End .input-group-append -->
                </div><!-- .End .input-group -->
            </form>
        </div>
      </div><!-- End .row -->
  </div><!-- End .container -->
</div><!-- End .cta -->


</main><!-- End .main -->

<footer class="footer footer-2">
  <div class="icon-boxes-container">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon">
                          <i class="icon-rocket"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                          <p>Orders $50 or more</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->
              
              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon">
                          <i class="icon-rotate-left"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                          <p>Within 30 days</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon">
                          <i class="icon-info-circle"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                          <p>When you sign up</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon">
                          <i class="icon-life-ring"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                          <p>24/7 amazing services</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->
          </div><!-- End .row -->
      </div><!-- End .container -->
  </div><!-- End .icon-boxes-container -->

  <div class="footer-middle border-0">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-lg-6">
                  <div class="widget widget-about">
                      <img src="/userAssets/home/assets/images/demos/demo-13/logo_web.webp" alt="vedCart Logo" width="105" height="25"><br>
                      <p>At VedCart, we blend ancient wisdom with modern convenience to bring you the finest Ayurvedic products. Explore our range of natural remedies, wellness solutions, and holistic health products designed to nurture your body, mind, and soul. Embrace the power of Ayurveda for a healthier, balanced life with VedCart. </p>
                      
                      <div class="widget-about-info">
                          <div class="row">
                              <div class="col-sm-6 col-md-4">
                                  <span class="widget-about-title">Got Question? Call us 24/7</span>
                                  <a href="tel:123456789">+0123 456 789</a>
                              </div><!-- End .col-sm-6 -->
                              <div class="col-sm-6 col-md-8">
                                  <span class="widget-about-title">Payment Method</span>
                                  <figure class="footer-payments">
                                      <img src="/userAssets/home/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                                  </figure><!-- End .footer-payments -->
                              </div><!-- End .col-sm-6 -->
                          </div><!-- End .row -->
                      </div><!-- End .widget-about-info -->
                  </div><!-- End .widget about-widget -->
              </div><!-- End .col-sm-12 col-lg-3 -->

              <div class="col-sm-4 col-lg-2">
                  <div class="widget">
                      <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                      <ul class="widget-list">
                          <li><a href="about.html">About vedCart</a></li>
                          <li><a href="#">How to shop on vedCart</a></li>
                          <li><a href="faq.html">FAQ</a></li>
                          <li><a href="contact.html">Contact us</a></li>
                          <li><a href="login.html">Log in</a></li>
                      </ul><!-- End .widget-list -->
                  </div><!-- End .widget -->
              </div><!-- End .col-sm-4 col-lg-3 -->

              <div class="col-sm-4 col-lg-2">
                  <div class="widget">
                      <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                      <ul class="widget-list">
                          <li><a href="#">Payment Methods</a></li>
                          <li><a href="#">Money-back guarantee!</a></li>
                          <li><a href="#">Returns</a></li>
                          <li><a href="#">Shipping</a></li>
                          <li><a href="#">Terms and conditions</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                      </ul><!-- End .widget-list -->
                  </div><!-- End .widget -->
              </div><!-- End .col-sm-4 col-lg-3 -->

              <div class="col-sm-4 col-lg-2">
                  <div class="widget">
                      <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                      <ul class="widget-list">
                          <li><a href="#">Sign In</a></li>
                          <li><a href="cart.html">View Cart</a></li>
                          <li><a href="#">My Wishlist</a></li>
                          <li><a href="#">Track My Order</a></li>
                          <li><a href="#">Help</a></li>
                      </ul><!-- End .widget-list -->
                  </div><!-- End .widget -->
              </div><!-- End .col-sm-64 col-lg-3 -->
          </div><!-- End .row -->
      </div><!-- End .container -->
  </div><!-- End .footer-middle -->

  <div class="footer-bottom">
      <div class="container">
          <p class="footer-copyright">Copyright © <span id="current-year"></span> vedCart Store. All Rights Reserved.</p>
          <ul class="footer-menu">
              <li><a href="#">Terms Of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
          </ul><!-- End .footer-menu -->

          <div class="social-icons social-icons-color">
              <span class="social-label">Social Media</span>
              <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
              <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
              <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
              <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
              <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
          </div><!-- End .soial-icons -->
      </div><!-- End .container -->
  </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>



<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container mobile-menu-light">
<div class="mobile-menu-wrapper">
  <span class="mobile-menu-close"><i class="icon-close"></i></span>
  
  <form action="#" method="get" class="mobile-search">
      <label for="mobile-search" class="sr-only">Search</label>
      <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
      <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>

      <div id="mobileSearchResults" class="search-results-dropdown">
        <!-- Search result item template for mobile -->
        <div class="search-result-item">
            <img class="default-img product-image" src="" alt="Product image">
            <span class="product-name"></span>
        </div>
    </div>

  </form>

  <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
      <li class="nav-item">
          <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
      </li>
   
  </ul>

  <div class="tab-content">
      <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
          <nav class="mobile-nav">
              <ul class="mobile-menu">
                  <li class="active">
                      <a href="/">Home</a>

                    
                  </li>
                  <li>
                      <a href="/shop">Shop</a>
                    
                  </li>
                  <li>
                      <a href="/about" class="sf-with-ul">About</a>
                     
                  </li>
                  <li>
                      <a href="/contact">Contact us</a>
                     
                  </li>
                  <li>
                      <a href="/blog">Blog</a>

                     
                  </li>
                 
              </ul>
          </nav><!-- End .mobile-nav -->
      </div><!-- .End .tab-pane -->
    
  </div><!-- End .tab-content -->

  <div class="social-icons">
      <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
      <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
      <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
      <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
  </div><!-- End .social-icons -->
</div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

<script>
  document.addEventListener("DOMContentLoaded", function() {
          var currentYear = new Date().getFullYear();
          document.getElementById("current-year").textContent = currentYear;
      });
 

// this search functionality is for mobile menu container
document.addEventListener("DOMContentLoaded", function() {
        const mobileSearchInput = document.getElementById("mobile-search");
        const mobileSearchResults = document.getElementById("mobileSearchResults");
        let mobileDebounceTimeout;

        mobileSearchInput.addEventListener("input", function() {
            clearTimeout(mobileDebounceTimeout);

            mobileDebounceTimeout = setTimeout(function() {
                const query = mobileSearchInput.value.trim();

                if (query.length > 0) {
                    fetch(`/mainSearch?q=${query}`)
                        .then(response => response.json())
                        .then(data => {
                            mobileSearchResults.innerHTML = "";

                            if (data.length > 0) {
                                data.forEach(product => {
                                    const item = document.createElement("div");
                                    item.classList.add("search-result-item");

                                    const img = document.createElement("img");
                                    img.classList.add("default-img", "product-image");
                                    img.src = product.image ? `/adminAssets/imgs/category/${product.image}` : 'default-image.jpg';
                                    img.alt = product.name;

                                    const text = document.createElement("span");
                                    text.classList.add("product-name");
                                    text.textContent = product.name;

                                    item.appendChild(img);
                                    item.appendChild(text);

                                    item.addEventListener("click", () => {
                                        window.location.href = `/shop`;
                                    });

                                    mobileSearchResults.appendChild(item);
                                });
                                mobileSearchResults.style.display = "block";
                            } else {
                                const item = document.createElement("div");
                                item.classList.add("search-result-item");
                                const text = document.createElement("span");
                                text.textContent = 'No item found';
                                item.appendChild(text);
                                mobileSearchResults.appendChild(item);
                                mobileSearchResults.style.display = "block";
                            }
                        });
                } else {
                    mobileSearchResults.style.display = "none";
                }
            }, 1000);
        });

        document.addEventListener("click", function(event) {
            if (!mobileSearchResults.contains(event.target) && event.target !== mobileSearchInput) {
                mobileSearchResults.style.display = "none";
            }
        });
    });


//--------------- Sweet alert for newsLetter email at the footer --------
document.addEventListener("DOMContentLoaded", function() {
        // Function to validate email
        function validateEmail(email) {
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

        // Function to handle newsletter email submission
        function newsLetterEmail() {
            console.log('work started')
            let email = document.getElementById('newsLetterEmail').value.trim();
            if (!validateEmail(email)) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                });
                Toast.fire({
                    icon: 'error',
                    title: "Please Enter a valid Email"
                });
                return;
            }

            Swal.fire({
                title: "Terms and conditions",
                input: "checkbox",
                inputValue: 1,
                inputPlaceholder: "I agree with the terms and conditions",
                confirmButtonText: "Continue&nbsp;<i class='fa fa-arrow-right'></i>",
                inputValidator: (result) => {
                    return !result && "You need to agree with T&C";
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "Thank you, We'll get back to you shortly",
                        imageUrl: "https://unsplash.it/400/200",
                        imageWidth: 300,
                        imageHeight: 200,
                        imageAlt: "Seems your internet is slow..!",
                        showClass: {
                            popup: 'animate__animated animate__fadeInUp animate__faster'
                        },
                        hideClass: {
                            popup: 'animate__animated animate__fadeOutDown animate__faster'
                        }
                    });
                }
            });
        }

        // Attach event listener to button after the DOM is fully loaded
        document.getElementById('subscribeButton').addEventListener('click', newsLetterEmail);
    });



</script>



<!-- Plugins JS File -->
<script src="/userAssets/home/assets/js/jquery.min.js"></script>
<script src="/userAssets/home/assets/js/bootstrap.bundle.min.js"></script>
<script src="/userAssets/home/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/userAssets/home/assets/js/jquery.waypoints.min.js"></script>
<script src="/userAssets/home/assets/js/superfish.min.js"></script>
<script src="/userAssets/home/assets/js/owl.carousel.min.js"></script>
<script src="/userAssets/home/assets/js/bootstrap-input-spinner.js"></script>
<script src="/userAssets/home/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/userAssets/home/assets/js/jquery.plugin.min.js"></script>
<script src="/userAssets/home/assets/js/jquery.countdown.min.js"></script>
<script src="assets/js/jquery.elevateZoom.min.js"></script>

<!-- Main JS File -->
<script src="/userAssets/home/assets/js/main.js"></script>
<script src="/userAssets/home/assets/js/demos/demo-13.js"></script>
</body>


<!-- vedcart/index-13.html  22 Nov 2019 09:59:31 GMT -->
</html>

     


























      