<%- include('./layouts/header') %>



<!-- Izitoast CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">

<!-- Izitoast JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js"></script>







<style>
  #successMessage {
    color: green;
  }

  #errorMessage {
    color: red;
  }
</style>

<main class="main">
  <div
    class="page-header text-center"
    style="
      background-image: url('/userAssets/home/assets/images/profile.avif');
    "
  >
    <div class="container">
      <h1 style="color: rgb(255, 255, 255)" class="page-title mt-5">My Account</h1>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Account</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="dashboard">
      <div class="container">
        <div class="row">
          <aside class="col-md-4 col-lg-3">
            <ul
              class="nav nav-dashboard flex-column mb-3 mb-md-0"
              role="tablist"
            >

            <!-- index to all the tabitems -->
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab-dashboard-link"
                  data-toggle="tab"
                  href="#tab-dashboard"
                  role="tab"
                  aria-controls="tab-dashboard"
                  aria-selected="true"
                  >Dashboard</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-orders-link"
                  data-toggle="tab"
                  href="#tab-orders"
                  role="tab"
                  aria-controls="tab-orders"
                  aria-selected="false"
                  >Orders</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-downloads-link"
                  data-toggle="tab"
                  href="#tab-wallet"
                  role="tab"
                  aria-controls="tab-downloads"
                  aria-selected="false"
                  >Wallet</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-address-link"
                  data-toggle="tab"
                  href="#tab-address"
                  role="tab"
                  aria-controls="tab-address"
                  aria-selected="false"
                  >Adresses</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-account-link"
                  data-toggle="tab"
                  href="#tab-password"
                  role="tab"
                  aria-controls="tab-account"
                  aria-selected="false"
                  >Change Password</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signout">Sign Out</a>
              </li>
            </ul>
          </aside>
          <!-- End .col-lg-3 -->












          <!-- main dashboard page  for viewing the user basic details of the user and editing it-->

          <div class="col-md-8 col-lg-9">
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="tab-dashboard"
                role="tabpanel"
                aria-labelledby="tab-dashboard-link"
              >
                <div class="col-lg-6">
                  <div class="card card-dashboard">
                    <div class="card-body">
                      <h3 class="card-title">Profile Details</h3>
                      <!-- End .card-title -->

                      <p>
                        Name : <%= userNameforProfile.name %><br />

                        Email : <%= userNameforProfile.email %><br />

                        Phone : <%= userNameforProfile.mobile %><br />

                      
                        <a href="#editProfileModal" data-toggle="modal"
                          >Edit <i class="icon-edit"></i
                        ></a>
                      </p>
                    </div>
                    <!-- End .card-body -->
                  </div>
                  <!-- End .card-dashboard -->
                </div>
                <!-- End .col-lg-6 -->












                <!------   modal for editing the user basic details  ------------->
                <div
                  class="modal fade"
                  id="editProfileModal"
                  tabindex="-1"
                  role="dialog"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog modal-dialog-centered"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="modal-body">
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true"
                            ><i class="icon-close"></i
                          ></span>
                        </button>

                        <div class="form-box">
                          <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                              <li class="nav-item">
                                <a
                                  class="nav-link active"
                                  id="signin-tab"
                                  data-toggle="tab"
                                  href="#signin"
                                  role="tab"
                                  aria-controls="signin"
                                  aria-selected="true"
                                  >Edit Details</a
                                >
                              </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                              <div
                                class="tab-pane fade show active"
                                id="signin"
                                role="tabpanel"
                                aria-labelledby="signin-tab"
                              >
                                <form id="editUserProfileBasicDetails"
                                  action="#" method="post"
                                 
                                 
                                >
                                  <div class="form-group">
                                    <label for="singin-email">Name </label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="profileEditName"
                                      name="name"
                                      value="<%= userNameforProfile.name %>"
                                    />
                                    <p
                                      id="nameProfileEditErr"
                                      class="error-message"
                                      style="color: red"
                                    ></p>
                                  </div>
                                  <!-- End .form-group -->

                                  <div class="form-group">
                                    <label for="singin-password">Email </label>
                                    <input
                                      type="email"
                                      class="form-control"
                                      id="email"
                                      name="email"
                                      value="<%= userNameforProfile.email %>"
                                      readonly
                                    />
                                  </div>

                                  <div class="form-group">
                                    <label for="singin-password"
                                      >Mobile Number
                                    </label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="profileEditMobile"
                                      name="mobile"
                                      value="<%= userNameforProfile.mobile %>"
                                    />
                                    <p
                                      id="mobileProfileEditErr"
                                      class="error-message"
                                      style="color: red"
                                    ></p>
                                  </div>
                                  <!-- End .form-group -->

                                  <div class="form-footer">
                                    <button
                                      type="submit"
                                      class="btn btn-outline-primary-2"
                                    >
                                      <span>Save changes</span>
                                      <i class="icon-long-arrow-right"></i>
                                    </button>

                                    <!-- End .custom-checkbox -->
                                  </div>
                                  <!-- End .form-footer -->
                                </form>
                              </div>
                              <!-- .End .tab-pane -->
                            </div>
                            <!-- End .tab-content -->
                          </div>
                          <!-- End .form-tab -->
                        </div>
                        <!-- End .form-box -->
                      </div>
                      <!-- End .modal-body -->
                    </div>
                    <!-- End .modal-content -->
                  </div>
                  <!-- End .modal-dialog -->
                </div>
                <!-- End .modal -->
              </div>
              <!-- .End .tab-pane -->


              <!-- modal for editing the user details is over -->




              <!-- this part is for displaying the orders made by the user -->
              <div
                class="tab-pane fade"
                id="tab-orders"
                role="tabpanel"
                aria-labelledby="tab-orders-link"
              >


                <section class="vh-70 gradient-custom-2">
                  <div class="container py-5" id="taborders">


                   

                    <% if(orders?.length!==0) { %>
                    <% orders.forEach(order=> { %>
                    <div class="row align-items-center h-100">
                      <div class="col-md-10 col-lg-8 col-xl-6">
                        <div
                          class="card card-stepper"
                          style="border-radius: 16px"
                        >
                          <div class="card-header p-4">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <div>
                                <p class="text-muted mb-2">
                                  Order ID :
                                  <span class="fw-bold text-primary">
                                    <%= order.orderId %>
                                  </span>
                                </p>
                                <p class="text-muted mb-0">
                                  Place On :
                                  <span class="fw-bold text-primary">
                                    <%= moment(order.date).format('DD-MM-YYYY') %>
                                  </span> at:
                                  <span class="fw-bold text-primary">
                                    <%= moment(order.date).format('HH:mm:ss') %>
                                  </span>
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="card-body p-4">
                            <% order.Products.forEach(product=> { %>
                            <div class="d-flex flex-row mb-4 pb-2 mt-4">
                              <div class="flex-fill">
                                <h5 class="bold">
                                  <a
                                    href="/productPage?id=<%=  product. productId%>"
                                  >
                                    <%= product.name %>
                                  </a>
                                </h5>
                                <p class="text-muted">
                                  Qt: <%= product.quantity %> item
                                </p>
                                <h4 class="mb-3">
                                  ₹ <%= product.subTotal %>
                                  <span class="small text-muted">
                                    <br />
                                    via ( <%=order.paymentMode%>)
                                  </span>
                                </h4>
                              </div>
                              <div>
                                <img
                                  class="align-self-center img-fluid"
                                  src="/adminAssets/imgs/category/<%= product.image[0] %>"
                                  width="150"
                                  height="100"
                                />
                              </div>
                            </div>

<% if(product.orderStatus === 'returned') {%>

<p class="text-warning"><%=product.orderStatus%></p>

<% }else if(product.orderStatus === 'cancelled'){ %>

  <p class="text-danger"><%=product.orderStatus%></p>

  <% }else if(product.orderStatus === 'delivered'){ %>  

    <p class="text-success"><%=product.orderStatus%></p>
  <% }else if(order.paymentStatus === 'pending'){ %>  

      <p class="text-danger">Payment Failed</p>
  
  
<% }else{ %>
  <p class="text-info"><%=product.orderStatus%></p>
  <% }%>
  <% }); %>
                          </div>
                          <% if (order.paymentStatus === 'pending') { %>
                            <button class="btn btn-warning" onclick="retryPayment('<%= order._id %>')">Click here for retry payment</button>
                        <% }else{ %>
                          
                          <a
                            href="/orderdetails?orderId=<%= order._id %>"
                            class="btn btn-primary"
                            >View More</a
                          >
                          <% }%>
                        </div>
                      </div>
                    </div>
                    <% }); %>
                    <% }else {%>
                      <td colspan="7">
                        Order details unavailable for this user                     
                      </td><div>
                        <a href="/shop" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                      </div>
                      
                      <% } %>
                  </div>
                </section>
              </div>
              <!-- .End .tab-pane -->





<!-- modal for wallet history view is starting here  -->

<div
class="modal fade"
id="walletHistoryModal"
tabindex="-1"
role="dialog"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"
          ><i class="icon-close"></i
        ></span>
      </button>

      <div class="form-box">
        <div class="form-tab">
          <ul
            class="nav nav-pills nav-fill nav-border-anim"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link"
                id="register-tab"
                data-toggle="tab"
                href="#register"
                role="tab"
                aria-controls="register"
                aria-selected="false"
                >Wallet history</a
              >
            </li>
          </ul>
          <div class="tab-content" id="tab-content-5">
            <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
              <div class="table-responsive">
                <table class="table">
                  <thead class="thead-primary">
                                     
                    <tr>
                      <th>Date</th>
                      <th>Amount</th>
                      <th>Reason</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(userNameforProfile?.wallet_history?.length !==0) {%>
                    <% userNameforProfile?.wallet_history.forEach((wallet)=>{ %>

                    <tr>
                      <td><%=  moment(wallet.date).format('DD-MM-YYYY') %></td>
                      <td>
                        <% if (wallet.amount < 0) { %>
                          -₹<%= Math.abs(wallet.amount) %>
                        <% } else { %>
                          ₹<%= wallet.amount %>
                        <% } %>
                      </td>
                      <td><%= wallet.reason %></td>
                    </tr>

                 <% }) %>
                 <% }else{ %>
                  <td colspan="7">Wallet history is empty</td>
                  <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- .End .tab-pane -->
          </div>
          <!-- End .tab-content -->
        </div>
        <!-- End .form-tab -->
      </div>
      <!-- End .form-box -->
    </div>
    <!-- End .modal-body -->
  </div>
  <!-- End .modal-content -->
</div>
<!-- End .modal-dialog -->
</div>

<!-- wallet history ends here -->





              <div
                class="tab-pane fade"
                id="tab-wallet"
                role="tabpanel"
                aria-labelledby="tab-downloads-link"
              >
                  <div class="col-lg-6">
                  <div class="card card-dashboard">
                    <div class="card-body">
                      <h3 class="card-title text-center">Wallet </h3>
                      <!-- End .card-title -->

                      <% if(userNameforProfile?.wallet !== 0) {%>
                      <p class="text-center" style="font-size: medium">
                        Wallet Balance : ₹<%= userNameforProfile.wallet %>

                       
                        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script><dotlottie-player src="https://lottie.host/5154e78e-684f-4826-bc12-d121a055f545/DdWUNPZxpJ.json" background="#FFFFFF" speed="1" style="width: 300px; height: 250px" direction="1" playMode="normal" loop autoplay></dotlottie-player>
                        <br>
                        <button
                        type="button"
                        class="btn btn-primary text-center"
                        data-toggle="modal"
                        data-target="#walletHistoryModal"
                      >
                        Wallet history
                      </button>
                      </p>
                      <% }else{ %>
                        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script><dotlottie-player src="https://lottie.host/82fa0462-1fe7-4f73-b4e8-b7e7eb0aff75/z8x23pbnQM.json" background="#FFFFFF" speed="1" style="width: 300px; height: 250px" direction="1" playMode="normal" loop autoplay></dotlottie-player>
                        <br>
                       <h6 class="text-center">Wallet Balance : ₹<%= userNameforProfile.wallet %></h5> 
                        <% } %>
                        
                    </div>
                    <!-- End .card-body -->
                  </div>
                  <!-- End .card-dashboard -->
                </div>
              </div>
              <!-- .End .tab-pane -->
<!-- wallet ended ------------------------------------------------------------------------------------------------------- -->



<!-- address started ---------------------------------------------------------------------------------------------------- -->
              <!-- this is the tab for viewing the address, editing and deleting  the address -->

              <div
                class="tab-pane fade"
                id="tab-address"
                role="tabpanel"
                aria-labelledby="tab-address-link"
              >
                <p>
                  The following addresses will be used on the checkout page by
                  default.
                </p>

                <div class="row">
                  <div class="col-lg-6">
                    <% if(userNameforProfile.addressField &&
                    userNameforProfile.addressField.length > 0 ) { %> <%
                    userNameforProfile.addressField.forEach(address =>{ %>

                      <div class="card card-dashboard" id="address-<%=address._id%>">
                      <div class="card-body">
                        <h3 class="card-title">Billing Address</h3>
                        <!-- End .card-title -->

                        <p>
                          <%= address.name %><br />
                          <%= address.mobile %><br />
                          <%= address.addressDetails %><br />
                          <%= address.city %><br />
                          <%= address.state %><br />
                          <%= address.pincode %><br />
                          <a
                            href="#"
                            data-toggle="modal"
                            data-target="#editModal<%=address._id%>"
                            >Edit <i class="icon-edit"></i
                          ></a>

                          <a
                            href="#"
                            style="float: right"
                            onclick="removeAddress('<%=address._id%>');return false"
                            >Delete <i class="fa-solid fa-trash"></i
                          ></a>
                        </p>
                      </div>
                      <!-- End .card-body -->
                    </div>
                    <% }) %> <% } %>
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#addAddressModal"
                    >
                      Add New Address
                    </button>

                    <!-- End .card-dashboard -->
                  </div>
                  <!-- End .col-lg-6 -->

                  <!-- End .col-lg-6 -->
                </div>
                <!-- End .row -->
              </div>
              <!-- .End .tab-pane -->

              <!-- add address modal that pop up when you click on it-->

              <div
                class="modal fade"
                id="addAddressModal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true"
                          ><i class="icon-close"></i
                        ></span>
                      </button>

                      <div class="form-box">
                        <div class="form-tab">
                          <ul
                            class="nav nav-pills nav-fill nav-border-anim"
                            role="tablist"
                          >
                            <li class="nav-item">
                              <a
                                class="nav-link"
                                id="register-tab"
                                data-toggle="tab"
                                href="#"
                                role="tab"
                                aria-controls="register"
                                aria-selected="false"
                                >Add your address here</a
                              >
                            </li>
                          </ul>
                          <div class="tab-content" id="tab-content-5">
                            <div
                              class="tab-pane fade show active"
                              id="signin"
                              role="tabpanel"
                              aria-labelledby="signin-tab"
                            >
                              <form
                                action="/addAddressatProfile"
                                method="post"
                                onsubmit="return addressValidation()"
                              >
                                <div class="form-group">
                                  <label for="singin-email"> Full Name *</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="addressAddname"
                                    name="name"
                                  />

                                  <p
                                    id="addressAddnameErr"
                                    class="error-message"
                                    style="color: red"
                                  ></p>
                                </div>
                                <!-- End .form-group -->

                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>Mobile Number *</label>
                                      <input
                                        type="tel"
                                        class="form-control"
                                        id="addressAddmobile"
                                        name="mobile"
                                      />

                                      <p
                                        id="addressAddmobileErr"
                                        class="error-message"
                                        style="color: red"
                                      ></p>
                                    </div>
                                  </div>
                                  <!-- End .form-group -->

                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>Pincode *</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="pincode"
                                        name="pincode"
                                      />

                                      <p
                                        id="pincodeErr"
                                        class="error-message"
                                        style="color: red"
                                      ></p>
                                    </div>
                                    <!-- End .form-group -->
                                  </div>
                                </div>

                                <!-- Address -->
                                <div class="form-group m-5">
                                  <label for="addressDetails">Address</label>
                                  <textarea
                                    class="form-control"
                                    id="addressDetails"
                                    name="addressDetails"
                                    rows="3"
                                  ></textarea>

                                  <p
                                    id="addressErr"
                                    class="error-message"
                                    style="color: red"
                                  ></p>

                                  <!-- <div class="text-danger" id="errorDetails"></div> -->
                                </div>

                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>City *</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="city"
                                        name="city"
                                      />

                                      <p
                                        id="cityErr"
                                        class="error-message"
                                        style="color: red"
                                      ></p>
                                    </div>
                                    <!-- End .form-group -->
                                  </div>
                                  <!-- End .col-sm-6 -->

                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>State *</label>

                                      <select
                                        class="form-control"
                                        id="state"
                                        name="state"
                                      >
                                        <option value="" selected disabled>
                                          Select your state
                                        </option>
                                        <% states.forEach(state => { %>
                                        <option value="<%= state %>">
                                          <%= state %>
                                        </option>
                                        <% }); %>
                                      </select>
                                    </div>
                                    <!-- End .form-group -->
                                  </div>
                                  <!-- End .col-sm-6 -->
                                </div>
                                <!-- End .row -->

                                <div class="form-footer">
                                  <button
                                    type="submit"
                                    class="btn btn-outline-primary-2"
                                  >
                                    <span>Save address</span>
                                    <i class="icon-long-arrow-right"></i>
                                  </button>
                                </div>
                                <!-- End .form-footer -->
                              </form>
                            </div>
                            <!-- .End .tab-pane -->
                          </div>
                          <!-- End .tab-content -->
                        </div>
                        <!-- End .form-tab -->
                      </div>
                      <!-- End .form-box -->
                    </div>
                    <!-- End .modal-body -->
                  </div>
                  <!-- End .modal-content -->
                </div>
                <!-- End .modal-dialog -->
              </div>
              <!-- End .modal of address addition-->

              <!-- edit address modal -------------------------------------------------- -->

              <% userNameforProfile.addressField.forEach(address =>{ %>
                <div
                class="modal fade"
                id="editModal<%= address._id %>"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true"
                          ><i class="icon-close"></i
                        ></span>
                      </button>

                      <div class="form-box">
                        <div class="form-tab">
                          <ul
                            class="nav nav-pills nav-fill nav-border-anim"
                            role="tablist"
                          >
                            <li class="nav-item">
                              <a
                                class="nav-link"
                                id="editModalLabel<%= address._id %>"
                                data-toggle="tab"
                                href="#"
                                role="tab"
                                aria-controls="register"
                                aria-selected="false"
                                >Edit address </a
                              >
                            </li>
                          </ul>
                          <div class="tab-content" id="tab-content-5">
                            <div
                              class="tab-pane fade show active"
                              id="signin"
                              role="tabpanel"
                              aria-labelledby="signin-tab"
                            >
                            <form id="editForm<%= address._id %>">

                                <div class="form-group">
                                  <label for="singin-email"> Full Name *</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="editName<%= address._id %>"
                                    value="<%= address.name %>"
                                    name="name"
                                  />

                                  <p id="addn" style="color: red"></p>
                                </div>
                                <!-- End .form-group -->

                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="editMobile<%= address._id %>"
                                            >Mobile Number</label
                                          >
                                      <input
                                        type="tel"
                                        class="form-control"
                                        id="editMobile<%= address._id %>"
                                        value="<%= address.mobile %>"
                                        name="mobile"
                                      />

                                      <p id="addm" style="color: red"></p>
                                    </div>
                                  </div>
                                  <!-- End .form-group -->

                                  <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="editPincode<%= address._id %>"
                                            >Pincode</label
                                          >
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="editPincode<%= address._id %>"
                                        value="<%= address.pincode %>"
                                        name="pincode"
                                      />

                                      <p id="addp" style="color: red"></p>
                                    </div>
                                    <!-- End .form-group -->
                                  </div>
                                </div>

                                <!-- Address -->
                                <div class="form-group m-5">
                                    <label for="editAddress<%= address._id %>"
                                        >Address</label
                                      >
                                  <textarea                       
                                    class="form-control"
                                    id="editAddress<%= address._id %>"
                                    name="addressDetails"
                                    rows="3"
                                  ><%= address.addressDetails %></textarea>

                                  <p id="adda" style="color: red"></p>
                                  <!-- <div class="text-danger" id="errorDetails"></div> -->
                                </div>

                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="editCity<%= address._id %>"
                                            >City</label
                                          >
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="editCity<%= address._id %>"
                                        value="<%= address.city %>"
                                        name="city"
                                      />

                                      <p id="addc" style="color: red"></p>
                                    </div>
                                    <!-- End .form-group -->
                                  </div>
                                  <!-- End .col-sm-6 -->

                                  <div class="col-sm-6">
                                    <div class="form-group mt-3">
                                        

                                      <select
                                        class="form-control"
                                        id="editState<%= address._id %>"
                                        name="state"
                                      >
                                        <option value="<%= address.state %>" selected disabled>
                                          Select your state
                                        </option>
                                        <% states.forEach(state => { %>
                                        <option value="<%= state %>">
                                          <%= state %>
                                        </option>
                                        <% }); %>
                                      </select>
                                    </div>
                                    <p id="adds" style="color: red"></p>
                                    <!-- End .form-group -->
                                  </div>
                                  <!-- End .col-sm-6 -->
                                </div>
                                <!-- End .row -->

                                <div class="form-footer">
                                    <button
                                    type="button"
                                    class="btn btn-primary"
                                    onclick="saveEdit('<%= address._id %>')"
                                  >
                                    Save Changes
                                  </button>
                                </div>
                                <!-- End .form-footer -->
                              </form>
                            </div>
                            <!-- .End .tab-pane -->
                          </div>
                          <!-- End .tab-content -->
                        </div>
                        <!-- End .form-tab -->
                      </div>
                      <!-- End .form-box -->
                    </div>
                    <!-- End .modal-body -->
                  </div>
                  <!-- End .modal-content -->
                </div>
                <!-- End .modal-dialog -->
              </div>
              <%})%>
<!-- address end =============================================================================================== -->



              <!-- change password area-->

              <div
                class="tab-pane fade"
                id="tab-password"
                role="tabpanel"
                aria-labelledby="tab-account-link"
              >
                <form id="changePasswordForm">
                  <label
                    >Current password </label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="currentPassword"
                  />
                  <p id="currentPasswordErr" style="color: red"></p>

                  <label>New password </label>
                  <input type="text" class="form-control" name="newPassword" />
                  <p id="newPasswordErr" style="color: red"></p>

                  <label>Confirm new password</label>
                  <input
                    type="password"
                    class="form-control mb-2"
                    name="confirmNewPassword"
                  />
                  <p id="confirmNewPasswordErr" style="color: red"></p>
                  <button
                    type="button"
                    class="btn btn-outline-primary-2"
                    onclick="changePassword()"
                  >
                    <span>SAVE CHANGES</span>
                    <i class="icon-long-arrow-right"></i>
                  </button>
                </form>
               
              </div>
              <!-- .End .tab-pane -->
            </div>
          </div>
          <!-- End .col-lg-9 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .dashboard -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  // ==============  edit the basic user profile valdation ===================

  document.getElementById('editUserProfileBasicDetails').addEventListener('submit', async function (event) {
    event.preventDefault();

    const name = document.getElementById('profileEditName');
    const mobile = document.getElementById('profileEditMobile');
    let isValid = true;

//validation for name
    if (name.value === '') {
      console.log('6')
      document.getElementById('nameProfileEditErr').textContent = 'Name is required.';
      isValid = false;
    }else if(name.value !== name.value.trim()){
      console.log('7')
        document.getElementById('nameProfileEditErr').innerText = 'Avoid trailing spaces';
        isValid = false;
    }else if (name.value.length < 4) {
      console.log('9')
      document.getElementById('nameProfileEditErr').innerText = 'Name must be minimum 4 characters long';
        isValid = false;
    }else if (/^[0-9]/.test(name.value)) {
      console.log('8')
    document.getElementById('nameProfileEditErr').innerText = 'Name should not start with a number.';
        isValid = false;
   }else if (/[^a-zA-Z0-9\s]/.test(name.value)) {
    document.getElementById('nameProfileEditErr').innerText = 'name should not contain special characters.';
        isValid = false;
  }
     else {
      document.getElementById('nameProfileEditErr').textContent = '';
    }

    // validation for mobile 
    if(mobile.value === ''){
      console.log('1')
      document.getElementById('mobileProfileEditErr').textContent = "Mobile number is required"
      isValid = false;
    }else if (mobile.value !== mobile.value.trim()){
      console.log('2')
      document.getElementById('mobileProfileEditErr').textContent = "Avoid trailing spaces"
      isValid = false;
    }else if (/[a-zA-Z]/.test(mobile.value)) {
      console.log('3')
      document.getElementById('mobileProfileEditErr').textContent = "Mobile number should not contain letters."
      isValid = false;
  }else if (mobile.value.length !== 10) {
    console.log('4')
    document.getElementById('mobileProfileEditErr').textContent = "Mobile number should be 10 digits."
      isValid = false;
  }
  const mobilePattern = /^\+?(\d{1,3})?[-. ]?(\d{1,4})?[-. ]?\d{1,4}[-. ]?\d{1,9}$/;
   if (!mobilePattern.test(mobile.value)) {
    console.log('5')
    document.getElementById('mobileProfileEditErr').textContent = "Mobile number should be between 10 and 15 digits."
      isValid = false;
  }


//if any validation fails stop there
    if (!isValid) return;

let userName = name.value;
let userPhone = mobile.value;

    try {
      const response = await fetch('/editProfile', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ userName, userPhone })
      });

let data = await response.json();
if (!response.ok) {
          throw new Error(data.message || 'Failed to update details');
        }
  

         window.location.href = '/userProfile';
     
    } catch (error) {
      console.error('Error at editing user profile at userProfile:', error);
      Swal.fire({
  icon: "error",
  title: error.message || "Failed to edit the details",
  
               
})
    }
  });

  //====================for change password by the user===========

  function changePassword() {
    
    let form = document.getElementById('changePasswordForm');
    let formData = new FormData(form);

    let currentPassword = formData.get('currentPassword');
    let newPassword = formData.get('newPassword');
    let confirmNewPassword = formData.get('confirmNewPassword');

    const currentPasswordErr = document.getElementById("currentPasswordErr");
  const newPasswordErr = document.getElementById("newPasswordErr");
  const confirmNewPasswordErr = document.getElementById("confirmNewPasswordErr");

  // Clear previous error messages
  currentPasswordErr.textContent = "";
  newPasswordErr.textContent = "";
  confirmNewPasswordErr.textContent = "";


console.log('pass len :',newPassword.length)
  let valid = true;

  if (!currentPassword) {
    currentPasswordErr.textContent = "Current password is required.";
    valid = false;
  }
 else if (currentPassword !== currentPassword.trim()) {
    currentPasswordErr.textContent = "Avoid trailing spaces";
    valid = false;
  }

    if (!newPassword) {
      newPasswordErr.textContent = "New password is required.";
    valid = false;
  }

 else if (newPassword !== newPassword.trim()) {
    currentPasswordErr.textContent = "Avoid trailing spaces";
    valid = false;
  }
  
  else if (newPassword.length < 7) {
    
    newPasswordErr.textContent = "New password must be at least 7 characters long.";
    valid = false;
  }

  if (!confirmNewPassword) {
    confirmNewPasswordErr.textContent = "Confirm password is required.";
  }

 else if (confirmNewPassword !== confirmNewPassword.trim()) {
    currentPasswordErr.textContent = "Avoid trailing spaces";
    valid = false;
  }

 
  const hasWhitespace = /\s/.test(newPassword);
  if (hasWhitespace) {
    newPasswordErr.textContent = "New password cannot contain whitespace characters.";
    valid = false;
  }

  // const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
  // if (!passwordRegex.test(newPassword)) {
  //   newPasswordErr.textContent = "New password must include an uppercase letter, a lowercase letter, a number, and a special character.";
  //   valid = false;
  // }

  if (newPassword !== confirmNewPassword) {
    confirmNewPasswordErr.textContent = "New password and confirm password do not match.";
    valid = false;
  }

if(!valid) return;



// if form validations are passed then move on to change the password

    const formObject = {};
    formData.forEach((value, key) => {
      formObject[key] = value;
    });

    fetch("/changepassword", {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(formObject),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error(response.data.message || "Failed to change the password");
        }
        return response.json();
      })
      .then((data) => {
       
        if (data.success) {
          $("#changePasswordForm").load("/userProfile #changePasswordForm");
         
          form.reset();

          iziToast.success({
                     title: data.message,            
                     position: 'topRight',
                     theme: 'orange', 
                     color: 'white',
                     backgroundColor: '#79e313'
                        });



        } else {
        
          Swal.fire({
  icon: "error",
  title: data.message,
              
})
        }
      })
      .catch((error) => {
        console.error(
          "There was a problem changing the password:",
          error.message);
        Swal.fire({
  icon: "error",
  title: error.message,            
})
      });
  }

  //=---------------address validation------------------------

  function addressValidation() {
    console.log("reacjed jeree");

    var name = document.getElementById("addressAddname").value.trim();
    var mobile = document.getElementById("addressAddmobile").value.trim();
    var pincode = document.getElementById("pincode").value.trim();
    var address = document.getElementById("addressDetails").value.trim();
    var city = document.getElementById("city").value.trim();

    // Reset error messages
    document.getElementById("addressAddnameErr").innerText = "";

    document.getElementById("addressAddmobileErr").innerText = "";
    document.getElementById("pincodeErr").innerText = "";
    document.getElementById("addressErr").innerText = "";
    document.getElementById("cityErr").innerText = "";

    var isValid = true;

    // Validate name
    if (name === "") {
      document.getElementById("addressAddnameErr").innerText =
        "Name is required";
      isValid = false;
    } else if (name.length < 2 || !isNaN(name.charAt(0)) || name !== name.trim()) {
        document.getElementById("addressAddnameErr").innerText = "Please enter a valid name without leading or trailing spaces";
        isValid = false;
    }
    // else if (!isNaN(name.charAt(0))) { // Check if the first character is a number
    // //     document.getElementById('nameErr').innerText = '';
    // //     isValid = false;
    // // }

    // Validate mobile
    if (mobile === "") {
      document.getElementById("addressAddmobileErr").innerText =
        "Mobile is required";
      isValid = false;
    } else if (!validateMobile(mobile)) {
      document.getElementById("addressAddmobileErr").innerText =
        "Invalid mobile number";
      isValid = false;
    }

    // Validate pincode
    if (pincode === "") {
      document.getElementById("pincodeErr").innerText = "Pincode is required";
      isValid = false;
    } else if (!/^\d{6}$/.test(pincode)) {
      // Check for 6 digits
      document.getElementById("pincodeErr").innerText = "Invalid pincode";
      isValid = false;
    }

    //Validate address
    if (address === "") {
      document.getElementById("addressErr").innerText = "Address is required";
      isValid = false;
    }

    // Validate city
    if (city === "") {
      document.getElementById("cityErr").innerText = "City is required";
      isValid = false;
    }

    return isValid;
  }

  function validateMobile(mobile) {
    // Simple mobile number validation regex (10 digits)
    var mobileRegex = /^\d{10}$/;
    return mobileRegex.test(mobile);
  }

  //===============to  edit the address =============================

  function saveEdit(addressId) {
    Swal.fire({
      title: "Are you sure?",
      text: "You are about to update the address.",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, update it!",
    }).then((result) => {
      if (result.isConfirmed) {
        const name = document
          .getElementById(`editName${addressId}`)
          .value.trim();
        const mobile = document
          .getElementById(`editMobile${addressId}`)
          .value.trim();
        const pincode = document
          .getElementById(`editPincode${addressId}`)
          .value.trim();
        const address = document
          .getElementById(`editAddress${addressId}`)
          .value.trim();
        const city = document
          .getElementById(`editCity${addressId}`)
          .value.trim();
        const state = document
          .getElementById(`editState${addressId}`)
          .value.trim();

        if (!name || !mobile || !pincode || !address || !city || !state) {
          Swal.fire({
            icon: "warning",
            title: "Oops...",
            text: "Please fill out all fields",
          });
          return;
        }

        fetch(`/updateaddress/${addressId}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            name,
            mobile,
            pincode,
            address,
            city,
            state,
          }),
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.json();
          })
          .then((data) => {
            console.log("Response from the backend:", data);
            if (data.success) {
              // Update the address section with the updated user data
              $("#tabaddress").load("/userProfile #tabaddress");

              Swal.fire({
                icon: "success",
                title: "Success!",
                text: "Address updated successfully.",
              });

              // Close the modal
              $(`#editModal${addressId}`).modal("hide");
            } else {
              Swal.fire({
                icon: "error",
                title: "Error",
                text: "Failed to update address. Please try again.",
              });
            }

            window.location.reload();
          })
          .catch((error) => {
            console.error("There was a problem:", error.message);
            Swal.fire({
              icon: "error",
              title: "Error",
              text: "Failed to update address. Please try again.",
            });
          });
      }
    });
  }

  //remove an address =====================================
  function removeAddress(addressId) {
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!",
    }).then((result) => {
      if (result.isConfirmed) {
        deleteAddress(addressId);
      }
    });
  }

  function deleteAddress(addressId) {
    fetch(`/removeaddress/${addressId}`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }

         // Remove the address element from the DOM directly
      document.getElementById(`address-${addressId}`).remove();

       
        Swal.fire({
          title: "Success!",
          text: "Address removed successfully.",
          icon: "success",
          showCancelButton: false,
          showConfirmButton: false,
          timer: 1500,
        });
      })
      .catch((error) => {
        console.error("Error removing address:", error);
        Swal.fire({
          title: "Error!",
          text: "Failed to remove address.",
          icon: "error",
          showCancelButton: false,
          showConfirmButton: false,
          timer: 1500,
        });
      });
  }

//======================= retry payment ========================
function retryPayment(orderId) {
    fetch('/retryPayment', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ orderId: orderId }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.response) {
            var options = {
                "key": 'rzp_test_Mjpyug9KzUZ3Wb',
                "amount": data.response.order.amount,
                "currency": "INR",
                "name": "VedCart",
                "description": "Test Transaction",
                "image": "https://exahttps://media.istockphoto.com/id/855840144/photo/image-of-lotus-flower-on-the-water.jpg?s=612x612&w=0&k=20&c=Gh7KaGTxKRhuvunBm-kqPps3f-VOWgfO1kWhWdf6l4Q=mple.com/your_logo",
                "order_id": data.response.order.id,
                "handler": function (response) {
                  console.log('respone at handler ?:',response)
                    verifyPayment(response, data.response);
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        } else {
            Swal.fire({
                title: 'Payment Retry Failed',
                text: data.message,
                icon: 'error',
                confirmButtonText: 'OK'
            });
        }
    })
    .catch(error => {
        console.error('Error retrying payment:', error);
    });
}


//---------------------  verify the payment ----------------------
function verifyPayment(payment, order) {
  console.log('response : ',payment)
  console.log('orderdetails :',order)
  $.ajax({
	url: '/verifypayment',
	data: {
		payment,
		order
	},
	method: 'post',
	success: (response) => {
		if (response.payment) {

Swal.fire({
  title: 'Order Placed Successfully!',
  icon: 'success',
  showConfirmButton: false,
  timer: 2000 

});

setTimeout(() => {
  window.location.href = '/ordersuccess';
}, 2000)

        } else {
            Swal.fire({
                title: 'Payment Verification Failed',
                text: data.message,
                icon: 'error',
                confirmButtonText: 'OK'
            });
        }
    }})
    .catch(error => {
        console.error('Error verifying payment:', error);
    });
}


</script>

<%- include('./layouts/footer') %>














