<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>vedCart</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="vedCart - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/userAssets/home/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/userAssets/home/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/userAssets/home/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/userAssets/home/assets/images/icons/site.html">
    <link rel="mask-icon" href="/userAssets/home/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userAssets/home/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="vedCart">
    <meta name="application-name" content="vedCart">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/userAssets/home/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/userAssets/home/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userAssets/home/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/userAssets/home/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/userAssets/home/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/userAssets/home/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userAssets/home/assets/css/style.css">
    <link rel="stylesheet" href="/userAssets/home/assets/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="/userAssets/home/assets/css/demos/demo-13.css">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
 
<style>
    .dropdown-menu {
    display: none;
}

</style>
    

</head>

<body>
    <div class="page-wrapper">
        <header class="header header-10 header-intro-clearance">
           

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="/" class="logo">
                            <img src="/userAssets/home/assets/images/demos/demo-13/logo_web.webp" alt="vedCart Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form id="searchForm" action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q"  id="q" placeholder="Search product ..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                           
                        </div><!-- End .header-search -->
                    </div>
                 

                    <div class="header-right">
                        <div class="header-dropdown-link">

                    
                            

                            <% if(userNameforProfile && userNameforProfile.isVerified ) { %>
                               

                                <div class="dropdown compare-dropdown">
                                
                                
                                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                        <lord-icon
                                        src="https://cdn.lordicon.com/lhwyshcs.json"
                                        trigger="loop"
                                        delay="2000"
                                        state="hover-wave"
                                        style="width:40px;height:40px">
                                    </lord-icon>
                                        <span class="compare-txt">Hello   <%=userNameforProfile.name%></span>
                                    </a>
    
                                    <div class="dropdown-menu dropdown-menu-right" style="padding: 0;width: 111px;">
                                        <ul class="compare-products">
                                            <li class="compare-product">
                                                <h4 class="compare-product-title"><a style="margin: 20%;" href="/userProfile">Profile</a></h4>
                                            </li>
                                           
                                        </ul>
    
                                        <div class="compare-actions">
                                          
                                            <a href="/signout" class="btn btn-outline-primary-2" ><span>Logout</span><i class="icon-long-arrow-right"></i></a>
                                        </div>
                                    </div><!-- End .dropdown-menu -->     
                                </div><!-- End .compare-dropdown -->


                        
                            <% } else { %>
                              
                                <div class="dropdown compare-dropdown">
                                
                                
                                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                      
                                        <lord-icon
                                        src="https://cdn.lordicon.com/cjhlqtae.json"
                                        trigger="loop"
                                        state="loop-roll"
                                        style="width:40px;height:40px">
                                    </lord-icon>
    
                                        <span class="compare-txt">Login to explore more</span>
                                    </a>
    
                                    <div class="dropdown-menu dropdown-menu-right" style="padding: 0;width: 111px;">
                                        
    
                                        <div class="compare-actions">
                                          
                                            <a href="/signin" class="btn btn-outline-primary-2" ><span>Login</span><i class="icon-long-arrow-right"></i></a>
                                        </div>
                                    </div><!-- End .dropdown-menu -->     
                                </div><!-- End .compare-dropdown -->

                                <% } %>


                                <% if(userNameforProfile && userNameforProfile.isVerified ) { %>
                            <a  href="/wishlist" class="wishlist-link">
                                <lord-icon
                                src="https://cdn.lordicon.com/etgnxeer.json"
                                trigger="loop"
                                delay="1500"
                                style="width:40px;height:35px">
                            </lord-icon>
                                <span class="wishlist-count"><%= wishlistProductCount %></span>
                                <span class="wishlist-txt">Wishlist</span>
                            </a>
                            <% } %>



                            
                            <div class="dropdown cart-dropdown">
                                <% if(userNameforProfile && userNameforProfile.isVerified ) { %>
                                <a href="/cart" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <lord-icon
                                    src="https://cdn.lordicon.com/guothkao.json"
                                    trigger="loop"
                                    delay="2000"
                                    style="width:40px;height:40px">
                                </lord-icon>
                                    <span class="cart-count"><%= cartProductCount %></span>
                                    <span class="cart-txt">Cart</span>
                                </a>
                               
                            
                            
                            
                                <div class="dropdown-menu dropdown-menu-right">
                                   
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-cart-products">
                                            <% if(cart && cart?.products && cart?.products?.length !==0) {%>
                                            <% cart.products.forEach((item,index)=> {%>
                                            <div class="product">
                                                <div class="product-cart-details">
                                                    <h4 class="product-title">
                                                        <a href="/productPage?id=<%= item.productId.id %>"><%= item.productId.name %></a>
                                                    </h4>
                            
                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty"><%= item.quantity %></span>
                                                        x ₹<%= item.productId.offerprice ? item.productId.offerprice : item.productId.price %>
                                                    </span>
                                                </div><!-- End .product-cart-details -->
                            
                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="/adminAssets/imgs/category/<%= item.productId.images[0] %>" alt="product">
                                                    </a>
                                                </figure>
                                                <a hidden href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                            </div><!-- End .product -->

                                            
                                            <% }) %>

                                            <div class="dropdown-cart-total">
                                                <span>Total</span>
                                
                                                <span class="cart-total-price">₹<%= totalPriceOfCartProducts %></span>
                                            </div><!-- End .dropdown-cart-total -->
                                          <% }else{ %>
                                            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script><dotlottie-player src="https://lottie.host/39e3eb45-7c4d-40b4-b99e-6e44219446b7/F3b6kldNwX.json" background="transparent" speed="1" style="width: 300px; height: 250px" direction="1" playMode="normal" loop autoplay></dotlottie-player>
                                            <h4>Oops.. Empty cart !</h4>
                                            <% } %>
                                        </div><!-- End .cart-product -->
                            
                                        
                            
                                        <div class="dropdown-cart-action">
                                            <a href="/cart" class="btn btn-primary">View Cart</a>
                                            <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                        </div><!-- End .dropdown-cart-total -->
                                    </div><!-- End .dropdown-menu -->
                                </div><!-- End .dropdown-menu -->
                                <% } %>
                            </div><!-- End .cart-dropdown -->
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">


                        <div class="dropdown category-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" title="Browse Categories">
                                Browse Categories
                            </a>
                            
                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        
                                       
                                        <% if(categoriesWithProducts && categoriesWithProducts?.length !== 0) { %>
                                            <%categoriesWithProducts.forEach((cat,index)=>{%>
                                        <li class="megamenu-container">
                                            <a class="sf-with-ul" href="#"> <%= cat.name %></a>
                            
                                            <div class="megamenu" style="width: 700px;">
                                                <div class="row no-gutters">
                                                    <div class="col-md-8">
                                                        <div class="menu-col">
                                                            <div class="row">
                                                                <div hidden class="col-md-6">
                                                                    <div class="menu-title">More details</div><!-- End .menu-title -->
                                                                    <ul>
                                                                        <li><a href="#"><strong>New Arrivals</strong></a></li>
                                                                        <li><a href="#"><strong>Best Sellers</strong></a></li>
                                                                        <li><a href="#"><strong>Trending</strong></a></li>
                                                                        
                                                                    </ul>
                                                                </div><!-- End .col-md-6 -->
                            
                                                                <div class="col-md-9">
                                                                    <div class="menu-title">Products</div><!-- End .menu-title -->
                                                                    <ul >
                                                                       <% cat.products.forEach((prod,index)=>{ %>
                                                                        <li><a href="#" style="font-family: 'Dancing Script', cursive; font-size: 16px; color: #029a49;"><%= index + 1 %>. <%= prod.name %></a></li>
                                                                        <% }) %>
                                                                    </ul>
                                                                </div><!-- End .col-md-6 -->
                                                            </div><!-- End .row -->
                                                        </div><!-- End .menu-col -->
                                                    </div><!-- End .col-md-8 -->
                            
                                                    <div class="col-md-4">
                                                        <div class="banner banner-overlay">
                                                            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script><dotlottie-player src="https://lottie.host/63f92b03-9df2-4ec9-9a02-cf1f719c3f2c/QUWZQKsool.json" background="#FFFFFF" speed="1" style="width: 300px; height: 300px" direction="1" playMode="normal" loop autoplay></dotlottie-player>
                                                        </div><!-- End .banner banner-overlay -->
                                                    </div><!-- End .col-md-4 -->
                                                </div><!-- End .row -->
                            
                                                <div class="menu-col menu-brands">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <a href="#" class="brand">
                                                                <img src="/userAssets/home/assets/images/brands/11.jpg" alt="Brand Name">
                                                            </a>
                                                        </div><!-- End .col-lg-2 -->
                            
                                                        <div class="col-lg-2">
                                                            <a href="#" class="brand">
                                                                <img src="/userAssets/home/assets/images/brands/22.webp" alt="Brand Name">
                                                            </a>
                                                        </div><!-- End .col-lg-2 -->
                            
                                                        <div class="col-lg-2">
                                                            <a href="#" class="brand">
                                                                <img src="/userAssets/home/assets/images/brands/33.png" alt="Brand Name">
                                                            </a>
                                                        </div><!-- End .col-lg-2 -->
                            
                                                        <div class="col-lg-2">
                                                            <a href="#" class="brand">
                                                                <img src="/userAssets/home/assets/images/brands/44.webp" alt="Brand Name">
                                                            </a>
                                                        </div><!-- End .col-lg-2 -->
                            
                                                        <div class="col-lg-2">
                                                            <a href="#" class="brand">
                                                                <img src="/userAssets/home/assets/images/brands/55.jpeg" alt="Brand Name">
                                                            </a>
                                                        </div><!-- End .col-lg-2 -->
                            
                                                        <div class="col-lg-2">
                                                            <a href="#" class="brand">
                                                                <img src="/userAssets/home/assets/images/brands/66.jpeg" alt="Brand Name">
                                                            </a>
                                                        </div><!-- End .col-lg-2 -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-brands -->
                                            </div><!-- End .megamenu -->
                                        </li>
                                        <% }) %>
                            `              <% } %>
                            
                            
                                    </ul><!-- End .menu-vertical -->
                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                            </div><!-- End .category-dropdown -->




                    </div><!-- End .col-lg-3 -->


                    <!-- <script>
                        function toggleDropdown() {
                        var dropdownMenu = document.getElementById("dropdownMenu");
                        if (dropdownMenu.style.display === "none") {
                            dropdownMenu.style.display = "block";
                        } else {
                            dropdownMenu.style.display = "none";
                        }
                    }
                    
                    </script> -->



                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li id="home-menu" class="megamenu-container">
                                    <a href="/" >Home</a>

                                   
                                </li>
                                <li id="shop-menu">
                                    <a href="/shop">Shop</a>
                                </li>
                                <li id="about-menu">
                                    <a href="/about">About</a>
                                </li>
                                <li id="contact-menu">
                                    <a href="/contact">Contact Us</a>
                                </li>
                                <li id="blog-menu">
                                    <a href="/blog">Blog</a>
                                </li>
                               
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .col-lg-9 -->
                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p>Clearance Up to 30% Off</span></p>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->



     
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Get the specific category dropdown elements
                const categoryDropdown = document.querySelector('.category-dropdown');
                const categoryDropdownToggle = categoryDropdown.querySelector('.dropdown-toggle');
                const categoryDropdownMenu = categoryDropdown.querySelector('.dropdown-menu');
        
                categoryDropdownToggle.addEventListener('click', function (event) {
                    event.preventDefault();
                    categoryDropdownMenu.classList.toggle('show');
                });
        
                // Close the dropdown if clicked outside
                document.addEventListener('click', function (event) {
                    if (!categoryDropdown.contains(event.target)) {
                        categoryDropdownMenu.classList.remove('show');
                    }
                });

// ----------  for highlighting the field which is active of the menu bar   -----------------
                const path = window.location.pathname;
        
        console.log('this is the path :',path)
        // Remove 'active' class from all menu items
        document.querySelectorAll('.main-nav .menu li').forEach(item => {
            item.classList.remove('active');
        });

        // Add 'active' class to the current menu item
        if (path === "/") {
            document.getElementById("home-menu").classList.add('active');
        } else if (path.startsWith("/shop")) {
            document.getElementById("shop-menu").classList.add('active');
        } else if (path.startsWith("/about")) {
            document.getElementById("about-menu").classList.add('active');
        } else if (path.startsWith("/contact")) {
            document.getElementById("contact-menu").classList.add('active');
        } else if (path.startsWith("/blog")) {
            document.getElementById("blog-menu").classList.add('active');
        }


            });
        </script>
        
        
      
        
      























        