[23:24, 2/29/2024] DHi$#0n Bck156: Admin category
[23:25, 2/29/2024] DHi$#0n Bck156: <%- include('../partials/header'); -%>

<style>
    .message-container{
    color: crimson;
    
    }
</style>
 <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Categories</h2>
                        <p>Add, edit or delete a category</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Search Categories" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <form action="/admin/newCategory" method="post" id="formblock">
                                    <div class="mb-4">
                                         <div class="message-container">
                                             <p><%= message %></p>
                                                </div>
                                        <label for="product_name" class="form-label">Name</label>
                                        <input type="text" placeholder="Enter category name" class="form-control" id="categoryname" name="category_name" />

                                         <label for="product_name" class="form-label">About</label>
                                        <input type="text" placeholder="Enter About category" class="form-control" id="about" name="about" />


                                        <label class="form-label">Description</label>
                                        <textarea placeholder="Enter description" class="form-control" id="description" name="description"></textarea>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary" onclick="return validateForm()">Create category</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9">
              <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <!-- <th class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" />
                                </div>
                            </th> -->
                            <!-- <th>ID</th> -->
                            <th>Category Name</th>
                            <th>About</th>
                            <th>Action</th>
                            <th>Edit</th>

                            <th >Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach(category => { %>
                            <tr>
                                <!-- <td class="text-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" />
                                    </div>
                                </td> -->
                                <!-- <td><%= category.id %></td> -->
                                <td><%= category.category_name %></td>
                                <td><%= category.about %></td>
                                
                             <td>
                <a href="/admin/categoryUlist/<%=category._id %>" class="list-toggle-button btn btn-sm font-sm <%= category.isListed ? 'unlist-red' : 'list-green' %>"
                    data-listed="<%= category.isListed %>">
                    <%= category.isListed ? 'Unlist' : 'List' %>
                </a>
            </td>
            <td><a href="/admin/categoryEdit/<%=category._id %>">Edit</a></td>
            <td>
                <a href="#" class="text-danger" onclick="confirmDelete('<%=category._id %>')">Delete</a>
            </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->
            </section>

<style>
    .list-green {
        color: white;
        background-color: green;
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 5px;
    }

    .unlist-red {
        color: white;
        background-color: red;
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 5px;
    }


</style>

 <script>
  // Your JavaScript code using Swal
  function confirmDelete(categoryId) {
    Swal.fire({
      title: '<span style="color: red;">Are you sure?</span>',
      html: '<span style="color: white;">You won\'t be able to revert this!</span>',
      icon: 'warning',
      background: 'RGB(46, 46, 46)',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = /admin/categoryDelete/${categoryId};
      }
    });
  }
</script>

<%- include('../partials/footer'); -%>

<script>
    const listToggleButtons = document.querySelectorAll('.list-toggle-button');

    listToggleButtons.forEach(button => {
        button.addEventListener('click', function () {
            const isListed = JSON.parse(this.getAttribute('data-listed'));
            this.setAttribute('data-listed', !isListed);
            this.innerText = isListed ? 'List' : 'Unlist';
            this.classList.toggle('list-green', !isListed);
            this.classList.toggle('unlist-red', isListed);
        });
    });
</script>
<script>
  function validateForm(){
  const categoryName = document.getElementById("categoryname").value
  const description  = document.getElementById("description").value
  const aboutCategory = document.getElementById("about").value

  if(!categoryName || !description ||!aboutCategory){
    alert("Please fill all the required fields")
    return false
  }
  if(/\s/.test(categoryName)){
    alert("Category name cannot contain spaces")
    return false
  }

   if(/\s/.test(description)){
    alert("Description cannot contain spaces")
    return false
  }
   if(/\s/.test(aboutCategory)){
    alert("About category cannot contain spaces")
    return false
  }
      document.getElementById("formblock").submit();

  }
  </script>